<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
  <!-- Message Bundles -->
  <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
    <property name="basename" value="com.inthinc.pro.resources.Messages" />
  </bean>
  <bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="ignoreResourceNotFound" value="true" />
    <property name="locations">
      <list>
        <value>classpath:tiwipro.properties</value>
        <value>file:${CATALINA_HOME}/conf/tiwipro.properties</value>
      </list>
    </property>
  </bean>
  
  
   <!-- Global Application Context (singleton scoped) beans -->
   <bean id="roles" class="com.inthinc.pro.model.app.Roles" init-method="init">
    <property name="roleDAO" ref="roleDAO"></property>
   </bean>
   <bean id="states" class="com.inthinc.pro.model.app.States" init-method="init">
    <property name="stateDAO" ref="stateDAO"></property>
   </bean>
   <bean id="supportedTimeZones" class="com.inthinc.pro.model.app.SupportedTimeZones" init-method="init">
    <property name="timeZoneDAO" ref="timeZoneDAO"></property>
   </bean>
   <bean id="deviceSensitivityMapping" class="com.inthinc.pro.model.app.DeviceSensitivityMapping" init-method="init">
    <property name="deviceDAO" ref="deviceDAO"></property>
   </bean>

  <!-- RestEasy Config -->
  <!--
    <bean class="com.inthinc.pro.service.impl.SpeedByStreetServiceImpl"> <property name="sbsUserId" value="${teenproxy.sbsUserId}"/> <property name="sbsUserName" value="${teenproxy.sbsUserName}"/>
    <property name="teenServerDAO" ref="sbsDataAccessBean"/> <property name="tigerDAO" ref="tigerDao"/> </bean>
  -->
  <bean id="baseServiceBean" class="com.inthinc.pro.service.impl.BaseService" abstract="true" >
    <property name="securityBean" ref="securityBean"/>
  </bean>
  <bean id="securityBean" class="com.inthinc.pro.util.SecurityBean">
    <property name="userDAO" ref="userDAO" />
    <property name="groupDAO" ref="groupDAO" />
    <property name="vehicleDAO" ref="vehicleDAO" />
    <property name="driverDAO" ref="driverDAO" />
    <property name="deviceDAO" ref="deviceDAO" />
    <property name="personDAO" ref="personDAO" />
    <property name="addressDAO" ref="addressDAO" />
  </bean>
  <bean id="deviceService" class="com.inthinc.pro.service.impl.DeviceServiceImpl" parent="baseServiceBean">
    <property name="deviceDAO" ref="deviceDAO" />
  </bean>
  <bean id="driverService" class="com.inthinc.pro.service.impl.DriverServiceImpl" parent="baseServiceBean">
    <property name="driverDAO" ref="driverDAO" />
  </bean>
  <bean id="personService" class="com.inthinc.pro.service.impl.PersonServiceImpl" parent="baseServiceBean">
    <property name="personDAO" ref="personDAO" />
  </bean>
  <bean id="userService" class="com.inthinc.pro.service.impl.UserServiceImpl" parent="baseServiceBean">
    <property name="userDAO" ref="userDAO" />
  </bean>
  <bean id="groupService" class="com.inthinc.pro.service.impl.GroupServiceImpl" parent="baseServiceBean">
    <property name="groupDAO" ref="groupDAO" />
  </bean>
  <bean id="addressService" class="com.inthinc.pro.service.impl.AddressServiceImpl" parent="baseServiceBean">
    <property name="addressDAO" ref="addressDAO" />
  </bean>
  <bean id="vehicleService" class="com.inthinc.pro.service.impl.VehicleServiceImpl" parent="baseServiceBean">
    <property name="vehicleDAO" ref="vehicleDAO" />
    <property name="mpgDAO" ref="mpgDAO" />
  </bean>
  <!--     
    <bean class="com.inthinc.pro.service.impl.NoteServiceImpl">
    	<property name="mcmService" ref="mcmServiceBean"/>
    </bean>
 -->
</beans>
