<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
    <!-- Message Bundles -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="com.inthinc.pro.resources.Messages" />
    </bean>
    
    <!-- RestEasy Config -->
    <bean class="com.inthinc.pro.service.SpeedByStreetService">
    	<property name="sbsUserId" value="${teenproxy.sbsUserId}"/>
		<property name="sbsUserName" value="${teenproxy.sbsUserName}"/>
		<property name="teenServerDAO" ref="sbsDataAccessBean"/>
		<property name="tigerDAO" ref="tigerDao"/>
    </bean>
    
    <bean class="com.inthinc.pro.service.DeviceService">
    	<property name="deviceDAO" ref="deviceDAO"/>
    	<property name="userDAO" ref="userDAO"/>
    	<property name="groupDAO" ref="groupDAO"/>
    </bean>
    
    <bean class="com.inthinc.pro.service.NoteService">
    	<property name="mcmService" ref="mcmServiceBean"/>
    </bean>
    
    
    
</beans>
