<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    <bean id="siloServiceCreator" class="com.inthinc.pro.dao.hessian.proserver.SiloServiceCreator">
        <constructor-arg value="${proxy.siloDataAccessHost}" />
        <constructor-arg value="${proxy.siloDataAccessPort}" />
    </bean>
    <bean id="reportServiceCreator" class="com.inthinc.pro.dao.hessian.proserver.ReportServiceCreator">
        <constructor-arg value="${proxy.siloDataAccessHost}" />
        <constructor-arg value="${proxy.siloDataAccessPort}" />
    </bean>
</beans>
