<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" 
            xmlns:beans="http://www.springframework.org/schema/beans" 
            xmlns:aop="http://www.springframework.org/schema/aop" 
            xmlns:context="http://www.springframework.org/schema/context"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security-2.0.4.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

  <context:component-scan base-package="com.inthinc.pro.service.security"/>
  <context:component-scan base-package="com.inthinc.pro.service.adapters"/>
  <aop:aspectj-autoproxy/>

  <http auto-config="true" create-session="never" session-fixation-protection="newSession">
  	<intercept-url pattern="/api/vxml" filters="none"></intercept-url>
  	<intercept-url pattern="/api/voiceack/**" filters="none"></intercept-url>
    <intercept-url pattern="/api/**" access="ROLE_ADMIN" />
    <http-basic />
  </http>
  
  <authentication-provider user-service-ref="userDetailsService">
    <password-encoder ref="passwordEncoder" />
  </authentication-provider>
  
  <beans:bean id="userDetailsService" class="com.inthinc.pro.security.userdetails.ProUserServiceImpl">
    <beans:property name="userDAO" ref="userDAO" />
    <beans:property name="groupDAO" ref="groupDAO" />
    <beans:property name="roleDAO" ref="roleDAO" />
  </beans:bean>

  <!--  Password encryption  -->
  <beans:bean id="jasyptPasswordEncryptor" class="org.jasypt.util.password.StrongPasswordEncryptor" />
  <beans:bean id="passwordEncoder" class="org.jasypt.spring.security2.PasswordEncoder">
    <beans:property name="passwordEncryptor">
      <beans:ref bean="jasyptPasswordEncryptor" />
    </beans:property>
  </beans:bean>

</beans:beans>