<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
    <!-- Message Bundles -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="com.inthinc.pro.resources.Messages" />
    </bean>
    
    <!-- RestEasy Config -->
<!--     
    <bean class="com.inthinc.pro.service.impl.SpeedByStreetServiceImpl">
    	<property name="sbsUserId" value="${teenproxy.sbsUserId}"/>
		<property name="sbsUserName" value="${teenproxy.sbsUserName}"/>
		<property name="teenServerDAO" ref="sbsDataAccessBean"/>
		<property name="tigerDAO" ref="tigerDao"/>
    </bean>
 -->    
    <bean id="securityBean" class="com.inthinc.pro.util.SecurityBean">
    	<property name="userDAO" ref="userDAO"/>
    	<property name="groupDAO" ref="groupDAO"/>
    	<property name="vehicleDAO" ref="vehicleDAO"/>
    	<property name="driverDAO" ref="driverDAO"/>
    	<property name="deviceDAO" ref="deviceDAO"/>
    	<property name="personDAO" ref="personDAO"/>
    </bean>
    <bean class="com.inthinc.pro.service.impl.DeviceServiceImpl">
    	<property name="deviceDAO" ref="deviceDAO"/>
    	<property name="securityBean" ref="securityBean"/>
    </bean>
    <bean class="com.inthinc.pro.service.impl.DriverServiceImpl">
    	<property name="driverDAO" ref="driverDAO"/>
    	<property name="securityBean" ref="securityBean"/>
    </bean>
    <bean class="com.inthinc.pro.service.impl.PersonServiceImpl">
    	<property name="personDAO" ref="personDAO"/>
    	<property name="securityBean" ref="securityBean"/>
    </bean>
    <bean class="com.inthinc.pro.service.impl.UserServiceImpl">
    	<property name="userDAO" ref="userDAO"/>
    	<property name="securityBean" ref="securityBean"/>
    </bean>
    <bean class="com.inthinc.pro.service.impl.GroupServiceImpl">
    	<property name="groupDAO" ref="groupDAO"/>
    	<property name="securityBean" ref="securityBean"/>
    </bean>
    <bean class="com.inthinc.pro.service.impl.VehicleServiceImpl">
    	<property name="vehicleDAO" ref="vehicleDAO"/>
    	<property name="mpgDAO" ref="mpgDAO"/>   	
    	<property name="securityBean" ref="securityBean"/>
    </bean>
<!--     
    <bean class="com.inthinc.pro.service.impl.NoteServiceImpl">
    	<property name="mcmService" ref="mcmServiceBean"/>
    </bean>
 -->
</beans>
