/*Created with Adobe RoboHelp 8.*/
BODY {
	font-weight: bold;
	font-style: normal;
	background-color: #ffffff;
	font-family: "Trebuchet MS", sans-serif;
	color: #000000;
}
H1 {
	font-weight: bold;
	font-size: 30;
	font-family: "Trebuchet MS", sans-serif;
	border-left-style: Solid;
	border-right-style: Solid;
	border-top-style: Solid;
	border-bottom-style: Solid;
	background-color: #000000;
	margin-left: 0pt;
	color: #8cae39;
	border-left-width: 4px;
	border-right-width: 4px;
	border-top-width: 4px;
	border-bottom-width: 4px;
	border-left-color: #8cae39;
	border-right-color: #8cae39;
	border-top-color: #8cae39;
	border-bottom-color: #8cae39;
}
LI.H1 {
	font-weight: bold;
	font-size: 30;
	font-family: "Trebuchet MS", sans-serif;
	color: #8cae39;
}
H2 {
	font-weight: bold;
	font-size: 24;
	font-family: "Trebuchet MS", sans-serif;
}
LI.H2 {
	font-weight: bold;
	font-size: 24;
	font-family: "Trebuchet MS", sans-serif;
}
H3 {
	font-weight: bold;
	font-size: 18pt;
	font-family: "Trebuchet MS", sans-serif;
}
LI.H3 {
	font-weight: bold;
	font-size: 18pt;
	font-family: "Trebuchet MS", sans-serif;
}
H4 {
	font-weight: bold;
	font-size: 12.0pt;
	font-family: treb;
}
LI.H4 {
	font-weight: bold;
	font-size: 12.0pt;
	font-family: treb;
}
H5 {
	font-weight: bold;
	font-size: 10.0pt;
	font-family: "Trebuchet MS", sans-serif;
}
LI.H5 {
	font-weight: bold;
	font-size: 10.0pt;
	font-family: "Trebuchet MS", sans-serif;
}
H6 {
	font-weight: bold;
	font-size: 8.0pt;
}
LI.H6 {
	font-weight: bold;
	font-size: 8.0pt;
}
P {
	font-size: 14pt;
	margin-top: 8pt;
	margin-bottom: 8pt;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: normal;
	font-style: normal;
}
LI.P {
	font-size: 14pt;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: normal;
	font-style: normal;
}
A.expandspot {
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
SPAN.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}
A.dropspot {
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}
A.glossterm {
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
SPAN.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}
OL,
UL {
	margin-top: 0px;
	margin-bottom: 0px;
}
A:link {
	color: #8cae39;
}
A:active {
	color: #0000a6;
}
A:hover {
	color: #8cae39;
}
A:visited {
	color: #8a0000;
}
P.Note {
	font-size: 14pt;
	margin-top: 8pt;
	margin-bottom: 8pt;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: normal;
	font-style: normal;
	border-left-style: Solid;
	border-right-style: Solid;
	border-top-style: Solid;
	border-bottom-style: Solid;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-left-width: 3px;
	border-right-width: 3px;
	border-top-width: 3px;
	border-bottom-width: 3px;
	background-color: #8cae39;
}
LI.P-Note {
	font-size: 14pt;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: normal;
	font-style: normal;
}
table.AlternateBlueColorGrid {
	x-border-spacing: 0px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #4F81BD;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #4F81BD;
}
table.AlternateBlueColorGrid td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}
table.AlternateBlueColorGrid tr.t1Row td {
	font-family: "Times New Roman";
	font-size: 12pt;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #4F81BD;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #4F81BD;
}
table.AlternateBlueColorGrid tr.t2Row td {
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #4F81BD;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #4F81BD;
	background-color: #D3DFEE;
}
table.AlternateGreenRowsIstRowCol {
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	x-1st-row: 1;
	x-1st-row-name: t1st;
	x-1st-col: 1;
	x-1st-col-name: t1st;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
}
table.AlternateGreenRowsIstRowCol td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}
table.AlternateGreenRowsIstRowCol tr.t1st td {
	background-color: #9BBB59;
	font-family: "Times New Roman";
	font-size: 12pt;
	border-right-style: Solid;
	border-right-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-color: #ffffff;
	border-right-width: 1px;
	border-bottom-width: 3px;
}
table.AlternateGreenRowsIstRowCol td.t1st {
	border-right-style: Solid;
	border-right-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-color: #ffffff;
	border-right-width: 3px;
	border-bottom-width: 1px;
	background-color: #9BBB59;
}
table.alternategreenrowsistrowcol td.t1st {
	border-right-style: Solid;
	border-right-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-color: #ffffff;
	border-right-width: 3px;
	border-bottom-width: 1px;
	background-color: #9BBB59;
}
table.alternategreenrowsistrowcol tr.t1row td.t1st {
	border-right-style: Solid;
	border-right-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-color: #ffffff;
	border-right-width: 3px;
	border-bottom-width: 1px;
	background-color: #9BBB59;
}
table.AlternateGreenRowsIstRowCol tr.t1Row td {
	background-color: #CDDDAC;
	font-family: "Times New Roman";
	font-size: 12pt;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
}
table.alternategreenrowsistrowcol tr.t2row td.t1st {
	border-right-style: Solid;
	border-right-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-color: #ffffff;
	border-right-width: 3px;
	border-bottom-width: 1px;
	background-color: #9BBB59;
}
table.AlternateGreenRowsIstRowCol tr.t2Row td {
	background-color: #E6EED5;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
}
