<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd"
default-autowire="byName">

    <bean id="siloServiceCreator" class="com.inthinc.pro.dao.mock.proserver.SiloServiceCreator" />
    <bean id="reportServiceCreator" class="com.inthinc.pro.dao.mock.proserver.ReportServiceCreator" />

    <bean id="addressLookupBean" class="com.inthinc.pro.map.GeonamesAddressLookup">
      <property name="mapServerURLString" value="${mapserver.geonames.url}"/>
    </bean>
    
	<bean id="hosDAO" class=" com.inthinc.pro.dao.mock.MockHOSDAO"></bean>
	<bean id="waysmartDAO" class=" com.inthinc.pro.reports.dao.mock.MockWaysmartDAO"></bean>
	<bean id="stateMileageDAO" class=" com.inthinc.pro.reports.dao.mock.MockStateMileageDAO"></bean>
	<bean id="driveTimeDAO" class=" com.inthinc.pro.dao.mock.MockDriveTimeDAO"></bean>
	  <bean id="locateVehicleByTime" class="com.inthinc.pro.backing.model.LocateVehicleByTime">
	  </bean>
    
</beans>
