<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


    <!-- Backing Beans -->
    <bean id="newAccountBean" class="com.inthinc.pro.backing.NewAccountBean" init-method="init" scope="session">
		<property name="accountDAO" ref="accountDAO" />
		<property name="personDAO" ref="personDAO" />
		<property name="userDAO" ref="userDAO" />
		<property name="groupDAO" ref="groupDAO" />
		<property name="roleDAO" ref="roleDAO" />
    </bean>

    <bean id="dateFormatBean" class="com.inthinc.pro.backing.dao.DateFormatBean" scope="session"/>
    
    <bean id="baseBean" class="com.inthinc.pro.backing.BaseBean" scope="session">
		<property name="superuserDAO" ref="superuserDAO" />
	</bean>
    <bean id="daoUtilBean" class="com.inthinc.pro.backing.dao.DaoUtilBean" init-method="init" parent="baseBean" scope="session">
		<property name="siloServiceCreator" ref="siloServiceCreator" />
		<property name="reportServiceCreator" ref="reportServiceCreator" />
		<property name="dateFormatBean" ref="dateFormatBean" />
    </bean>
    <bean id="fwdcmdBean" class="com.inthinc.pro.backing.FwdCmdBean" init-method="init" parent="baseBean" scope="session">
		<property name="deviceDAO" ref="deviceDAO" />
		<property name="accountDAO" ref="accountDAO" />
		<property name="userDAO" ref="userDAO" />
		<property name="groupDAO" ref="groupDAO" />
	</bean>
    <bean id="fwdcmdresBean" class="com.inthinc.pro.backing.FwdCmdResBean" init-method="init" parent="baseBean" scope="session">
		<property name="deviceDAO" ref="deviceDAO" />
		<property name="reportDAO" ref="reportDAO" />
		<property name="forwardCommandDefDAO" ref="forwardCommandDefDAO" />
	</bean>
    <bean id="extractDataBean" class="com.inthinc.pro.backing.ExtractDataBean" scope="session">
		<property name="eventDAO" ref="eventDAO" />
	</bean>
    
</beans>
