<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


    <!-- Backing Beans -->
    <bean id="newAccountBean" class="com.inthinc.pro.backing.NewAccountBean" init-method="init">
		<property name="accountDAO" ref="accountDAO" />
		<property name="personDAO" ref="personDAO" />
		<property name="userDAO" ref="userDAO" />
		<property name="groupDAO" ref="groupDAO" />
		<property name="roleDAO" ref="roleDAO" />
    </bean>

    
    <bean id="daoUtilBean" class="com.inthinc.pro.backing.dao.DaoUtilBean">
		<property name="siloServiceCreator" ref="siloServiceCreator" />
    </bean>
    
</beans>
