button {
	width:auto;
	overflow: visible;
	}
	
button span {
	margin-top: 2px;
	}
    
ul#grid_nav li {
	list-style: none;
	padding: 2px 4px 2px 4px;
	margin: 0;
	}
	
ul#grid_nav li.divider {
	list-style: none;
	padding: 6px 0 0 0;
	margin: 0;
	}
	
ul.fdtablePaginater {display:inline-block;}
ul.fdtablePaginater {display:inline;}
ul.fdtablePaginater li {float:left;}
ul.fdtablePaginater {text-align:center;}
/* table { border-bottom:1px solid #8BAD37; } */