<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="byName">

	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:tiwipro.properties</value>
				<value>file:${CATALINA_HOME}/conf/tiwipro.properties</value>
			</list>
		</property>
	</bean>

	<!-- Backing Beans -->
	<bean id="errorBean" class="com.inthinc.pro.backing.ErrorBean"></bean>
	<bean id="localeBean" class="com.inthinc.pro.backing.LocaleBean" scope="request"></bean>
	<bean id="hosDriverKioskBean" class="com.inthinc.pro.backing.HOSDriverKioskBean" scope="session"/>
	
		<!--  hos -->
	<bean id="RuleSetFactory" class="com.inthinc.hos.rules.RuleSetFactory">
  		<property name="effectiveDateForUS2013Changes" value="${hos.usrules.effective.date}"/>
  	</bean>
	
</beans>
