<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">
  <!-- Message Bundles -->
<!-- 
  <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
    <property name="basename" value="com.inthinc.pro.resources.Messages" />
  </bean>

  <bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="ignoreResourceNotFound" value="true" />
    <property name="locations">
      <list>
        <value>classpath:tiwipro.properties</value>
        <value>file:${CATALINA_HOME}/conf/tiwipro.properties</value>
      </list>
    </property>
  </bean>
 
 <util:map id="dbProps">
    <entry key="db.driver" value="com.mysql.jdbc.Driver"/>
    <entry key="db.jdbcurl" value="jdbc:mysql://192.168.11.113:3306/siloDB"/>
    <entry key="db.username" value="siloUser"/>
    <entry key="db.password" value="siloPass"/>
</util:map>
<bean id="dataSource"
       class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="${db.driver}"/>
    <property name="url" value="${db.jdbcurl}"/>
    <property name="username" value="${db.username}"/>
    <property name="password" value="${db.password}"/>
</bean>
 -->       
<bean id="dataSource"
       class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://192.168.11.113:3306/siloDB"/>
<!--    <property name="url" value="jdbc:mysql://localhost:3350/siloDB"/>  -->
    <property name="username" value="siloUser"/>
    <property name="password" value="siloPass"/>
</bean>

   <bean id="baseDAO" class="com.inthinc.pro.table.dao.db" scope="request">
	    <property name="dataSource" ref="dataSource"></property>
   </bean>
  
    <!-- Test Table Beans -->
   <bean id="simpleTableBean" class="com.inthinc.pro.table.test.SimpleTableBean" scope="request" init-method="init">
    <property name="simplePaginationTableDataProvider" ref="simplePaginationTableDataProvider"></property>
  </bean>
  
   <bean id="simplePaginationTableDataProvider" class="com.inthinc.pro.table.model.provider.SimplePaginationTableDataProvider" scope="request">
	  <property name="paginationDAOService" ref="simplePaginationDAO"></property>   
  </bean>
<!-- 
  <bean id="simplePaginationDAO" class="com.inthinc.pro.table.dao.mock.SimplePaginationDAO" scope="request" init-method="init">
  </bean>
 -->  
  <bean id="simplePaginationDAO" class="com.inthinc.pro.table.dao.db.SimplePaginationDAO" scope="request" parent="baseDAO" init-method="init">
  </bean>
     
</beans>
