<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">
  <bean id="reportMailer" class="com.inthinc.pro.reports.mail.ReportMailerImpl">
    <property name="javaMailSender" ref="mailSenderBean" />
  </bean>

  <bean id="reportCreator" class="com.inthinc.pro.reports.jasper.JasperReportCreator">
    <constructor-arg ref="reportMailer" />
  </bean>

  <bean id="reportCriteriaService" class="com.inthinc.pro.reports.service.impl.ReportCriteriaServiceImpl">
    <property name="accountDAO" ref="accountDAO" />
    <property name="groupDAO" ref="groupDAO" />
    <property name="scoreDAO" ref="scoreDAO" />
    <property name="mpgDAO" ref="mpgDAO" />
    <property name="vehicleDAO" ref="vehicleDAO" />
    <property name="deviceDAO" ref="deviceDAO" />
    <property name="eventDAO" ref="eventDAO" />
    <property name="redFlagDAO" ref="redFlagDAO" />
    <property name="reportDAO" ref="reportDAO" />
    <property name="groupReportDAO" ref="groupReportDAO" />
    <property name="driverDAO" ref="driverDAO"/>
    <property name="hosDAO" ref="hosDAO"/>
    <property name="waysmartDAO" ref="waysmartDAO"/>
    <property name="stateMileageDAO" ref="stateMileageDAO"/>
    <property name="addressDAO" ref="addressDAO" />
    <property name="driveTimeDAO" ref="driveTimeDAO" />
    <property name="driverPerformanceDAO" ref="driverPerformanceDAO" />
  </bean>

</beans>