<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:util="http://www.springframework.org/schema/util" 
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd"
  default-autowire="byName">
  <!-- <context:component-scan base-package="com.inthinc.pro"/> -->
  <!-- Message Bundles -->
  <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
    <property name="basename" value="com.inthinc.pro.resources.Messages" />
  </bean>

  <bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="ignoreResourceNotFound" value="true" />
    <property name="locations">
      <list>
        <value>classpath:tiwipro.properties</value>
        <value>file:${CATALINA_HOME}/conf/tiwipro.properties</value>
      </list>
    </property>
  </bean>

  <!-- <bean id="junkBean" class="com.inthinc.pro.junk.JunkBean" scope="request" init-method="init" /> -->

  <!-- Global Application Context (singleton scoped) beans -->
  <!--  <bean id="roles" class="com.inthinc.pro.model.app.Roles" init-method="init">-->
  <!--    <property name="roleDAO" ref="roleDAO"></property>-->
  <!--  </bean>-->
  <bean id="states" class="com.inthinc.pro.model.app.States" init-method="init">
    <property name="stateDAO" ref="stateDAO"></property>
  </bean>
  <bean id="supportedTimeZones" class="com.inthinc.pro.model.app.SupportedTimeZones" init-method="init">
    <property name="timeZoneDAO" ref="timeZoneDAO"></property>
  </bean>
<!--  <bean id="deviceSensitivityMapping" class="com.inthinc.pro.model.app.DeviceSensitivityMapping" init-method="init">-->
<!--    <property name="deviceDAO" ref="deviceDAO"></property>-->
<!--  </bean>-->
  <bean id="siteAccessPoints" class="com.inthinc.pro.model.app.SiteAccessPoints" init-method="init">
    <property name="roleDAO" ref="roleDAO"></property>
  </bean>
<!--  <bean id="sensitivityMapping" class="com.inthinc.pro.model.app.SensitivityMapping" init-method="init">  </bean>	-->
  <bean id="sensitivitySliderValuesMapping" class="com.inthinc.pro.model.app.SensitivitySliderValuesMapping" init-method="init">  </bean>
  <!-- Backing Beans -->
  <bean id="errorBean" class="com.inthinc.pro.backing.ErrorBean"></bean>
  <bean id="baseBean" abstract="true" class="com.inthinc.pro.backing.BaseBean">
    <property name="addressLookup" ref="${addressLookup}" />
  </bean>
  <bean id="testBean" class="com.inthinc.pro.backing.TestBean" scope="session" parent="baseBean"></bean>
  
  <util:properties id="manifestProperties" location="META-INF/MANIFEST.MF" /> 
  <bean id="versionBean" class="com.inthinc.pro.backing.VersionBean"></bean>

  <bean id="groupLevelBean" class="com.inthinc.pro.backing.GroupLevelBean" scope="request" parent="baseBean" init-method="initGroupID">
    <property name="navigationBean" ref="navigationBean"></property>
  </bean>

  <bean id="unsubscribeBean" class="com.inthinc.pro.backing.UnsubscribeBean" scope="request">
    <property name="encryptPassword" value="j$2yptt3xt3ncrypt0r23cr3tp422w0rd" />
  </bean>
  
  <!-- Navigation bean -->
  <bean id="navigationBean" class="com.inthinc.pro.backing.NavigationBean" scope="session" parent="baseBean">
    <property name="durationBean" ref="navigationDurationBean" />
  </bean>
  <bean id="treeNavigationBean" class="com.inthinc.pro.backing.TreeNavigationBean" scope="session" parent="baseBean" init-method="init"/>
  <bean id="dashBoardBean" class="com.inthinc.pro.backing.DashBoardBean" scope="request" parent="baseBean">
  </bean>
  <bean id="dashBoardDetailBean" class="com.inthinc.pro.backing.DashBoardDetailBean" scope="request" parent="baseBean">
  </bean>

  <bean id="teamCommonBean" class="com.inthinc.pro.backing.TeamCommonBean" scope="request" parent="baseBean" init-method="init" />
  <bean id="teamStatisticsBean" class="com.inthinc.pro.backing.TeamStatisticsBean" scope="request" parent="baseBean" init-method="init">
    <property name="teamCommonBean" ref="teamCommonBean"></property>
    <property name="groupReportDAO" ref="groupReportDAO"></property>
    <property name="reportRenderer" ref="reportRenderer" />
    <property name="reportCriteriaService" ref="reportCriteriaService" />
  </bean>
  <bean id="teamTripsBean" class="com.inthinc.pro.backing.TeamTripsBean" scope="request" parent="baseBean" init-method="init" >
  
  	<property name="colors">
  		<list>
  			<value>#002BD5</value>
  			<value>#0054EF</value>
			<value>#295C7E</value>
			<value>#0083F1</value>
			<value>#00B6E3</value>
			<value>#0E8E88</value>
			<value>#F33535</value>
			<value>#CE0000</value>
			<value>#F3680A</value>
			<value>#224838</value>
			<value>#922D1D</value>
			<value>#63000A</value>
			<value>#912D6F</value>
			<value>#C80071</value>
			<value>#9226A7</value>
			<value>#C900BF</value>
			<value>#224812</value>
			<value>#098E22</value>
			<value>#FF8974</value>
			<value>#849300</value>
			<value>#638E66</value>
			<value>#848C93</value>
			<value>#00B600</value>
			<value>#53544A</value>
			<value>#646464</value>
  			 
  		</list>
  	</property>
  	<property name="textColors">
  		<list>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
   			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
   			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
   			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
   		</list>
  	</property>
  	
  </bean>
  
  <bean id="teamStopsBean" class="com.inthinc.pro.backing.TeamStopsBean" scope="request" parent="baseBean" init-method="init" >
    <property name="driverDAO" ref="driverDAO"></property>   
    <property name="teamCommonBean" ref="teamCommonBean"></property>
    <property name="reportRenderer" ref="reportRenderer" />
    <property name="reportCriteriaService" ref="reportCriteriaService" />    
  	<property name="colors">
  		<list>
  			<value>#002BD5</value>
  			<value>#0054EF</value>
			<value>#295C7E</value>
			<value>#0083F1</value>
			<value>#00B6E3</value>
			<value>#0E8E88</value>
			<value>#F33535</value>
			<value>#CE0000</value>
			<value>#F3680A</value>
			<value>#224838</value>
			<value>#922D1D</value>
			<value>#63000A</value>
			<value>#912D6F</value>
			<value>#C80071</value>
			<value>#9226A7</value>
			<value>#C900BF</value>
			<value>#224812</value>
			<value>#098E22</value>
			<value>#FF8974</value>
			<value>#849300</value>
			<value>#638E66</value>
			<value>#848C93</value>
			<value>#00B6E3</value>
			<value>#53544A</value>
			<value>#646464</value>
  			 
  		</list>
  	</property>
  	<property name="textColors">
  		<list>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
   			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
   			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
   			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
  			<value>#ffffff</value>
   		</list>
   	</property>    
  </bean>  
  
  <!-- Printing Reports -->
  <bean id="reportRenderer" class="com.inthinc.pro.reports.ReportRendererImpl" scope="request">
    <property name="reportCreator" ref="reportCreator" />   
  </bean>

  <bean id="dashBoardReportBean" class="com.inthinc.pro.backing.DashboardReportBean" scope="request" parent="baseBean">
  </bean>

  <!-- Forgot username/password Beans -->
  <bean id="mailSenderBean" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host" value="${mailserver}" />
    <property name="javaMailProperties">
      <props>
        <prop key="mail.debug">${mail.debug}</prop>
      </props>
    </property>
  </bean>
  <bean id="retrieveCredentialsBean" class="com.inthinc.pro.backing.RetrieveCredentialsBean" scope="request" parent="baseBean">
    <property name="from">
      <value><![CDATA[tiwiPRO Support <support@inthinc.com>]]></value>
    </property>
    <property name="mailSender" ref="mailSenderBean" />
    <property name="encryptPassword" value="j$2yptt3xt3ncrypt0r23cr3tp422w0rd" />
  </bean>
  <bean id="updateCredentialsBean" class="com.inthinc.pro.backing.UpdateCredentialsBean" scope="session" parent="baseBean">
    <property name="encryptPassword" value="j$2yptt3xt3ncrypt0r23cr3tp422w0rd" />
    <property name="daysValid" value="2" />
  </bean>

    <!-- Beans used in fusion chart displays -->
  <bean id="trendBean" class="com.inthinc.pro.backing.TrendBean" scope="request" parent="baseBean" init-method="init">
    <property name="durationBean" ref="trendDurationBean"></property>
  </bean>
  <bean id="trendTable" class="com.inthinc.pro.backing.ui.TrendTable" scope="request"></bean>
  <bean id="overallScoreBean" class="com.inthinc.pro.backing.OverallScoreBean" scope="request" parent="baseBean">
    <property name="durationBean" ref="overallScoreDurationBean" />
  </bean>
  <bean id="mpgBean" class="com.inthinc.pro.backing.MpgBean" scope="request" parent="baseBean">
    <property name="durationBean" ref="mpgDurationBean" />
  </bean>
  <bean id="crashSummaryBean" class="com.inthinc.pro.backing.CrashSummaryBean" scope="request" parent="baseBean" init-method="initBean">
    <property name="navigation" ref="navigationBean"></property>
  </bean>
  <bean id="fleetOverviewBean" class="com.inthinc.pro.backing.FleetOverviewBean" scope="request" parent="baseBean">
    <property name="navigation" ref="navigationBean"></property>
  </bean>

  <bean id="speedPercentageBean" class="com.inthinc.pro.backing.SpeedPercentageBean" scope="request" parent="baseBean">
    <property name="durationBean" ref="speedPercentDurationBean" />
  </bean>

  <bean id="idlePercentageBean" class="com.inthinc.pro.backing.IdlePercentageBean" scope="request" parent="baseBean">
    <property name="durationBean" ref="idlePercentDurationBean" />
  </bean>

  <bean id="flyOutBean" class="com.inthinc.pro.backing.FlyOutBean" scope="request" />

  <bean id="liveFleetBean" class="com.inthinc.pro.backing.LiveFleetBean" scope="request" parent="baseBean" init-method="initBean"/>

  <bean id="crashReportBean"        class="com.inthinc.pro.backing.CrashReportBean" scope="request" parent="baseBean">
    <property name="crashTraceBean">
    	<bean id="crashTraceBean" class="com.inthinc.pro.backing.CrashTraceBean"/>
  	</property>
  	<property name="deviceDAO" ref="deviceDAO"></property>
  </bean>

  <bean id="personBean" class="com.inthinc.pro.backing.PersonBean" scope="session" init-method="initBean">
    <property name="passwordEncryptor" ref="jasyptPasswordEncryptor"></property>
    <property name="personChangeListeners">
      <list>
        <ref local="vehiclesBean" />
        <ref local="redFlagOrZoneAlertsBean" />
      </list>
    </property>
  </bean>

  <bean id="vehiclesBean" class="com.inthinc.pro.backing.VehiclesBean" scope="session" init-method="initBean"/>
  <bean id="vehicleSettingsFactory" class="com.inthinc.pro.backing.model.VehicleSettingsFactory" scope="session"/>

  <bean id="devicesBean" class="com.inthinc.pro.backing.DevicesBean" scope="session" init-method="initBean"/>

  <bean id="organizationBean" class="com.inthinc.pro.backing.OrganizationBean" scope="request"/>

  <bean id="reportScheduleBean" class="com.inthinc.pro.backing.ReportScheduleBean" scope="session" init-method="initBean"/>

  <bean id="zonesBean" class="com.inthinc.pro.backing.ZonesBean" scope="session"/>

  <bean id="redFlagOrZoneAlertsBean" class="com.inthinc.pro.backing.RedFlagOrZoneAlertsBean" scope="session" init-method="initBean"/>
  
  <bean id="messagesBean" class="com.inthinc.pro.backing.MessagesBean" scope="session">
  	<property name="personDAO" ref="personDAO"></property>  
  	<property name="groupDAO" ref="groupDAO"></property> 
  	<property name="driverDAO" ref="driverDAO"></property>   
  	<property name="deviceDAO" ref="deviceDAO"></property>	
  	<property name="vehicleDAO" ref="vehicleDAO"></property>  
  	<property name="textMsgAlertDAO" ref="textMsgAlertDAO"></property>	 
  </bean>

  <bean id="customRolesBean" class="com.inthinc.pro.backing.CustomRolesBean" scope="session" init-method="initBean">
    <property name="roleDAO" ref="roleDAO"></property>
  </bean>

  <bean id="unknownDriverBean" class="com.inthinc.pro.backing.UnknownDriverBean" scope="session" init-method="initBean">
    <property name="personDAO" ref="personDAO"></property>
  </bean>
  
  <bean id="accountBean" class="com.inthinc.pro.backing.AccountBean" scope="session" init-method="initBean">
    <property name="personDAO" ref="personDAO"></property>  
    <property name="wmsConfigurationBean" ref="wmsConfigurationBean"></property>
<!--  <property name="externalConfigBean" ref="externalConfigBean"></property>    
    <property name="accountOptionsBean" ref="accountOptionsBean"></property>
     --> 
  </bean>  

  <bean id="vehicleBean" class="com.inthinc.pro.backing.VehicleBean" scope="session" parent="baseBean">
    <property name="vehicleDAO" ref="vehicleDAO" />
  </bean>
  <bean id="deviceBean" class="com.inthinc.pro.backing.DeviceBean" scope="session" parent="baseBean">
    <property name="deviceDAO" ref="deviceDAO" ></property>
  </bean>
  <bean id="vehiclePerformanceBean" class="com.inthinc.pro.backing.VehiclePerformanceBean" scope="request" parent="basePerformanceBean">
	<property name="deviceBean" ref="deviceBean"></property>
    <property name="durationBean" ref="vehicleDurationBean" />
    <property name="speedDurationBean" ref="vehicleSpeedDurationBean"></property>
    <property name="styleDurationBean" ref="vehicleStyleDurationBean"></property>
    <property name="seatBeltDurationBean" ref="vehicleSeatBeltDurationBean"></property>
    <property name="coachDurationBean" ref="vehicleCoachingDurationBean"></property>
    <property name="mpgDurationBean" ref="vehicleMpgDurationBean"></property>
  </bean>

  <bean id="vehicleSpeedBean" class="com.inthinc.pro.backing.VehicleSpeedBean" scope="request" parent="basePerformanceEventsBean">
    <property name="durationBean" ref="vehicleSpeedDurationBean" />
  </bean>

  <bean id="vehicleStyleBean" class="com.inthinc.pro.backing.VehicleStyleBean" scope="request" parent="basePerformanceEventsBean">
    <property name="durationBean" ref="vehicleStyleDurationBean" />
  </bean>

  <bean id="vehicleSeatBeltBean" class="com.inthinc.pro.backing.VehicleSeatBeltBean" scope="request" parent="basePerformanceEventsBean">
    <property name="durationBean" ref="vehicleSeatBeltDurationBean" />
  </bean>

  <bean id="vehicleTripsBean" class="com.inthinc.pro.backing.TripsBean" scope="request" parent="baseBean">
    <property name="vehicleDAO" ref="vehicleDAO"></property>
    <property name="groupDAO" ref="groupDAO"></property>
    <property name="driverDAO" ref="driverDAO"></property>
    <property name="eventDAO" ref="eventDAO"></property>
    <property name="identifiableEntityBean" ref="vehicleBean" />
  </bean>

  <bean id="driverBean" class="com.inthinc.pro.backing.DriverBean" scope="session" parent="baseBean">
    <property name="driverDAO" ref="driverDAO" />
  </bean>

  <bean id="driverPerformanceBean" class="com.inthinc.pro.backing.DriverPerformanceBean" scope="request" parent="basePerformanceBean">
  	<property name="deviceBean" ref="deviceBean"></property>
    <property name="durationBean" ref="driverDurationBean"></property>
    <property name="speedDurationBean" ref="driverSpeedDurationBean"></property>
    <property name="styleDurationBean" ref="driverStyleDurationBean"></property>
    <property name="seatBeltDurationBean" ref="driverSeatBeltDurationBean"></property>
    <property name="coachDurationBean" ref="driverCoachingDurationBean"></property>
    <property name="mpgDurationBean" ref="driverMpgDurationBean"></property>
  </bean>

  <bean id="driverSpeedBean" class="com.inthinc.pro.backing.DriverSpeedBean" scope="request" parent="basePerformanceEventsBean">
    <property name="durationBean" ref="driverSpeedDurationBean" />
  </bean>

  <bean id="driverStyleBean" class="com.inthinc.pro.backing.DriverStyleBean" scope="request" parent="basePerformanceEventsBean">
    <property name="durationBean" ref="driverStyleDurationBean"></property>
  </bean>

  <bean id="driverSeatBeltBean" class="com.inthinc.pro.backing.DriverSeatBeltBean" scope="request" parent="basePerformanceEventsBean">
    <property name="durationBean" ref="driverSeatBeltDurationBean" />
  </bean>

  <bean id="performanceDataBean" class="com.inthinc.pro.backing.PerformanceDataBean" scope="session" parent="baseBean">
    <property name="scoreDAO" ref="scoreDAO"></property>
  </bean>

  <bean id="driverTripsBean" class="com.inthinc.pro.backing.TripsBean" scope="request" parent="baseBean">
    <property name="identifiableEntityBean" ref="driverBean" />
  </bean>

  <bean id="teamOverviewBean" class="com.inthinc.pro.backing.TeamOverviewBean" scope="session" parent="baseBean">
    <property name="scoreDAO" ref="scoreDAO"></property>
    <property name="navigation" ref="navigationBean"></property>
    <property name="durationBean" ref="teamOverviewDurationBean" />
  </bean>
  
  <bean id="teamOverallBean" class="com.inthinc.pro.backing.TeamOverallBean" scope="request" parent="baseBean"/>
  <bean id="teamStyleBean" class="com.inthinc.pro.backing.TeamStyleBean" scope="request" parent="baseBean"/>
  <bean id="teamSpeedBean" class="com.inthinc.pro.backing.TeamSpeedBean" scope="request" parent="baseBean"/>
  
  
  <bean id="teamCrashSummaryBean" class="com.inthinc.pro.backing.TeamCrashSummaryBean" scope="request" parent="baseBean" init-method="init">
    <property name="groupReportDAO" ref="groupReportDAO"></property>
    <property name="teamCommonBean" ref="teamCommonBean"></property>
  </bean>  
    
  <bean id="teamTopDriversTable" class="com.inthinc.pro.backing.ui.TrendTable" scope="request"></bean>
  <bean id="teamBottomDriversTable" class="com.inthinc.pro.backing.ui.TrendTable" scope="request"></bean>
  <bean id="teamTopBean" class="com.inthinc.pro.backing.TeamTopBean" scope="request" parent="baseBean" init-method="init">
    <property name="durationBean" ref="teamOverviewDurationBean" />
  </bean>
  <bean id="driverLocationBean" class="com.inthinc.pro.backing.DriverLocationBean" scope="request" parent="baseBean" init-method="init">
    <property name="navigation" ref="navigationBean"></property>
  </bean>

  <!-- My Account Beans -->
  <bean id="changePasswordBean" class="com.inthinc.pro.backing.ChangePasswordBean" scope="session" parent="baseBean">
    <property name="passwordEncryptor" ref="jasyptPasswordEncryptor"></property>
  </bean>
  <bean id="myAccountBean" class="com.inthinc.pro.backing.MyAccountBean" scope="session" parent="baseBean" />

  <!-- Map Backing Beans -->
  <util:properties id="googleMapProperties" location="classpath:googleMapKeys.properties" />
  <bean id="gmBean" class="com.inthinc.pro.map.google.GoogleMapBacking">
    <property name="googleMapProperties" ref="googleMapProperties" />
  </bean>
  <bean id="googleMapURLBean" class="com.inthinc.pro.backing.GoogleMapURLBean">
    <property name="mapUrl" value="${google.map.url}" />
    <property name="mapGeoUrl" value="${google.map.geo.url}" />
  </bean>

  <!-- Web Util Beans - wraps access to servlet  -->
  <bean id="webUtil" class="com.inthinc.pro.util.WebUtil"></bean>


  <bean id="teamRecentEventsBean" class="com.inthinc.pro.backing.TeamRecentEventsBean" scope="request" parent="baseBean">
    <property name="eventDAO" ref="eventDAO"></property>
    <property name="driverDAO" ref="driverDAO"></property>
    <property name="navigation" ref="navigationBean"></property>
  </bean>
  <bean id="teamWarningsBean" class="com.inthinc.pro.backing.TeamWarningsBean" scope="request" parent="baseBean">
    <property name="eventDAO" ref="eventDAO"></property>
    <property name="driverDAO" ref="driverDAO"></property>
    <property name="vehicleDAO" ref="vehicleDAO"></property>
    <property name="navigation" ref="navigationBean"></property>
  </bean>
  <!-- Report beans -->
  <bean id="baseRedFlagsBean" class="com.inthinc.pro.backing.BaseNotificationsBean" scope="session" parent="baseBean" abstract="true">
    <property name="driverDAO" ref="driverDAO" />
    <property name="vehicleDAO" ref="vehicleDAO" />
    <property name="zoneDAO" ref="zoneDAO"></property>
    <property name="reportRenderer" ref="reportRenderer"></property>
    <property name="reportCriteriaService" ref="reportCriteriaService"></property>
    <property name="searchCoordinationBean" ref="eventsSearchCoordinationBean"></property>
    <property name="tablePreferenceDAO" ref="tablePreferenceDAO"></property>
    <property name="cacheBean" ref="cacheBean"></property>
  </bean>
  <bean id="crashHistoryBean" class="com.inthinc.pro.backing.CrashHistoryBean" scope="request" parent="baseRedFlagsBean" init-method="initBean">
    <property name="crashReportDAO" ref="crashReportDAO"></property>
  </bean>

  <bean id="tableStatsBean" class="com.inthinc.pro.backing.TableStatsBean" scope="request" />

  <bean id="basePerformanceBean" class="com.inthinc.pro.backing.BasePerformanceBean" scope="request" parent="baseBean">
    <property name="reportRenderer" ref="reportRenderer" />
    <property name="groupDAO" ref="groupDAO" />
    <property name="tableStatsBean" ref="tableStatsBean" />
    <property name="driverBean" ref="driverBean" />
    <property name="vehicleBean" ref="vehicleBean" />
    <property name="performanceDataBean" ref="performanceDataBean" />
    <property name="enableGoogleMapsInReports" value="${enableGoogleMapsInReports}"/>
  </bean>

  <bean id="basePerformanceEventsBean" class="com.inthinc.pro.backing.BasePerformanceEventBean" scope="request" parent="basePerformanceBean">
    <property name="scoreDAO" ref="scoreDAO"></property>
    <property name="eventDAO" ref="eventDAO"></property>
    <property name="googleAddressLookupBean" ref="googleAddressLookupBean"></property>
  </bean>
  <bean id="localeBean" class="com.inthinc.pro.backing.LocaleBean" scope="request" />
  <bean id="fuelEfficiencyBean" class="com.inthinc.pro.backing.FuelEfficiencyBean" scope="request" />
  <bean id="measurementBean" class="com.inthinc.pro.backing.MeasurementBean" scope="request" init-method="init">
    <property name="fuelEfficiencyBean" ref="fuelEfficiencyBean" />
  </bean>

  <!-- Duration Beans -->
  <bean id="overallScoreDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="driverDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="driverSeatBeltDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="driverSpeedDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="driverStyleDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="driverCoachingDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="driverMpgDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="idlePercentDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="mpgDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="navigationDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="speedPercentDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="teamOverviewDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="trendDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="vehicleDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="vehicleSeatBeltDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="vehicleSpeedDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="vehicleStyleDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="vehicleCoachingDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="vehicleMpgDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />
  <bean id="teamDurationBean" class="com.inthinc.pro.backing.DurationBean" scope="session" />

  <!-- State Beans -->
  <!--<bean id="trendBeanState" class="com.inthinc.pro.backing.TrendBeanState" scope="session" />-->

  <!-- Search Bean -->
  <bean id="searchCoordinationBean" class="com.inthinc.pro.backing.SearchCoordinationBean" scope="session">
    <property name="groupDAO" ref="groupDAO" />
  </bean>
  <bean id="eventsSearchCoordinationBean" class="com.inthinc.pro.backing.EventsSearchCoordinationBean" scope="session" parent="searchCoordinationBean">
  </bean>

  <!-- Converter Beans -->
  <bean id="latLngAddressConverter" class="com.inthinc.pro.convert.LatLngAddressConverter">
    <property name="addressLookup" ref="${addressLookup}" />
  </bean>
  <bean id="addressBean" class="com.inthinc.pro.backing.AddressBean" scope="session" parent="baseBean">
  </bean>

  <!-- UI backing beans -->
  <bean id="eventTypeIcons" class="com.inthinc.pro.backing.ui.EventTypeIcons" scope="session" init-method="init" parent="baseBean">
  </bean>
  <bean id="helpBean" class="com.inthinc.pro.backing.HelpBean" scope="session" parent="baseBean" />
  
  <bean id="helpConfigProperties" class="com.inthinc.pro.backing.model.HelpConfigProperties" scope="session" init-method="init" >
    <property name="location" value="helpConfig.properties">
	</property>
  </bean>
  

  <!-- Error translator -->
  <bean id="errorTranslatorBean" class="com.inthinc.pro.backing.ErrorTranslatorBean">
  </bean>
<!--   
  <bean id="accountOptionsBean" class="com.inthinc.pro.backing.AccountOptionsBean" scope="session" parent="baseBean" init-method="init">  
  </bean>
-->

  <bean id="wmsConfigurationBean" class="com.inthinc.pro.backing.WMSConfigurationBean" scope="session" parent="baseBean" init-method="init">
  <!-- 
    <property name="url" value="${wms.url}" />
    <property name="query" value="${wms.query}" />
    <property name="layers" value="${wms.layers}" />
    <property name="layerQueryParam" value="${wms.layer.queryparam}" />
    -->
  </bean>
<!--   
  <bean id="externalConfigBean" class="com.inthinc.pro.backing.ExternalConfigBean" scope="session" parent="baseBean" init-method="init">
  </bean>
 -->
   
  <!-- Cache Beans -->
  <bean id="cacheBean" class="com.inthinc.pro.backing.CacheBean" scope="session" parent="baseBean">
    <property name="driverDAO" ref="driverDAO"></property>
    <property name="vehicleDAO" ref="vehicleDAO"></property>
  </bean>

  <bean id="timeFrameBean" class="com.inthinc.pro.backing.TimeFrameBean" scope="request" parent="baseBean">
  </bean>

  <!-- Pagination Beans -->

  <bean id="basePagingNotificationsBean" class="com.inthinc.pro.backing.paging.BasePagingNotificationsBean" scope="request" init-method="init" parent="baseBean">
    <property name="reportRenderer" ref="reportRenderer" />
    <property name="reportCriteriaService" ref="reportCriteriaService" />
    <property name="eventDAO" ref="eventDAO"></property>
  </bean>

  <bean id="pagingEventsBean" class="com.inthinc.pro.backing.paging.PagingEventsBean" scope="request" init-method="init" parent="basePagingNotificationsBean">
    <property name="tableDataProvider" ref="eventPaginationTableDataProvider"></property>
  </bean>

  <bean id="pagingSafetyEventsBean" class="com.inthinc.pro.backing.paging.PagingSafetyEventsBean" scope="request" parent="pagingEventsBean">
  </bean>

  <bean id="pagingDiagnosticsEventsBean" class="com.inthinc.pro.backing.paging.PagingDiagnosticsEventsBean" scope="request" parent="pagingEventsBean">
  </bean>

  <bean id="pagingEmergencyEventsBean" class="com.inthinc.pro.backing.paging.PagingEmergencyEventsBean" scope="request" parent="pagingEventsBean">
  </bean>

  <bean id="pagingZoneEventsBean" class="com.inthinc.pro.backing.paging.PagingZoneEventsBean" scope="request" parent="pagingEventsBean">
  </bean>

  <bean id="pagingHOSEventsBean" class="com.inthinc.pro.backing.paging.PagingHOSEventsBean" scope="request" parent="pagingEventsBean">
  </bean>

  <bean id="eventPaginationTableDataProvider" class="com.inthinc.pro.table.model.provider.EventPaginationTableDataProvider" scope="request">
    <property name="eventDAO" ref="eventDAO"></property>
    <property name="timeFrameBean" ref="timeFrameBean" />
  </bean>

  <bean id="pagingRedFlagsBean" class="com.inthinc.pro.backing.paging.PagingRedFlagsBean" scope="request" init-method="init" parent="basePagingNotificationsBean">
    <property name="tableDataProvider" ref="redFlagPaginationTableDataProvider"></property>
  </bean>

  <bean id="redFlagPaginationTableDataProvider" class="com.inthinc.pro.table.model.provider.RedFlagPaginationTableDataProvider" scope="request">
    <property name="redFlagDAO" ref="redFlagDAO"></property>
    <property name="timeFrameBean" ref="timeFrameBean" />
  </bean>

  <!-- Report Pagination Beans -->
  <bean id="basePagingReportBean" class="com.inthinc.pro.backing.paging.BasePagingReportBean" scope="request" init-method="init" parent="baseBean">
    <property name="reportRenderer" ref="reportRenderer" />
    <property name="reportCriteriaService" ref="reportCriteriaService" />
    <property name="searchCoordinationBean" ref="searchCoordinationBean"></property>
  </bean>

  <bean id="reportPaginationTableDataProvider" class="com.inthinc.pro.table.model.provider.ReportPaginationTableDataProvider" scope="request">
    <property name="reportDAO" ref="reportDAO"></property>
  </bean>


  <bean id="pagingDriverReportBean" class="com.inthinc.pro.backing.paging.PagingDriverReportBean" scope="request" init-method="init" parent="basePagingReportBean">
    <property name="tableDataProvider" ref="driverReportPaginationTableDataProvider"></property>
  </bean>

  <bean id="driverReportPaginationTableDataProvider" class="com.inthinc.pro.table.model.provider.DriverReportPaginationTableDataProvider" scope="request" parent="reportPaginationTableDataProvider" />

  <bean id="pagingVehicleReportBean" class="com.inthinc.pro.backing.paging.PagingVehicleReportBean" scope="request" init-method="init" parent="basePagingReportBean">
    <property name="tableDataProvider" ref="vehicleReportPaginationTableDataProvider"></property>
  </bean>

  <bean id="vehicleReportPaginationTableDataProvider" class="com.inthinc.pro.table.model.provider.VehicleReportPaginationTableDataProvider" scope="request" parent="reportPaginationTableDataProvider" />

  <bean id="pagingDeviceReportBean" class="com.inthinc.pro.backing.paging.PagingDeviceReportBean" scope="request" init-method="init" parent="basePagingReportBean">
    <property name="tableDataProvider" ref="deviceReportPaginationTableDataProvider"></property>
  </bean>

  <bean id="deviceReportPaginationTableDataProvider" class="com.inthinc.pro.table.model.provider.DeviceReportPaginationTableDataProvider" scope="request" parent="reportPaginationTableDataProvider" />

  <bean id="pagingIdlingReportBean" class="com.inthinc.pro.backing.paging.PagingIdlingReportBean" scope="request" init-method="init" parent="basePagingReportBean">
    <property name="tableDataProvider" ref="idlingReportPaginationTableDataProvider"></property>
  </bean>

  <bean id="idlingReportPaginationTableDataProvider" class="com.inthinc.pro.table.model.provider.IdlingReportPaginationTableDataProvider" scope="request" parent="reportPaginationTableDataProvider" />

  <!-- Table column Beans -->
  <bean id="baseTableColumns" class="com.inthinc.pro.table.columns.BaseTableColumns" scope="request" init-method="init" parent="baseBean">
    <property name="tablePreferenceDAO" ref="tablePreferenceDAO"></property>
  </bean>
  <bean id="teamStatisticsTableColumns" class="com.inthinc.pro.table.columns.TeamStatisticsTableColumns" scope="request" parent="baseTableColumns" />
  <bean id="redFlagsTableColumns" class="com.inthinc.pro.table.columns.RedFlagsTableColumns" scope="request" parent="baseTableColumns" />
  <bean id="eventsTableColumns" class="com.inthinc.pro.table.columns.EventsTableColumns" scope="request" parent="baseTableColumns" />
  <bean id="safetyTableColumns" class="com.inthinc.pro.table.columns.SafetyTableColumns" scope="request" parent="eventsTableColumns" />
  <bean id="diagnosticsTableColumns" class="com.inthinc.pro.table.columns.DiagnosticsTableColumns" scope="request" parent="eventsTableColumns" />
  <bean id="emergencyTableColumns" class="com.inthinc.pro.table.columns.EmergencyTableColumns" scope="request" parent="eventsTableColumns" />
  <bean id="driverReportTableColumns" class="com.inthinc.pro.table.columns.DriverReportTableColumns" scope="request" parent="baseTableColumns" />
  <bean id="vehicleReportTableColumns" class="com.inthinc.pro.table.columns.VehicleReportTableColumns" scope="request" parent="baseTableColumns" />
  <bean id="deviceReportTableColumns" class="com.inthinc.pro.table.columns.DeviceReportTableColumns" scope="request" parent="baseTableColumns" />
  <bean id="idlingReportTableColumns" class="com.inthinc.pro.table.columns.IdlingReportTableColumns" scope="request" parent="baseTableColumns" />
  <bean id="hosTableColumns" class="com.inthinc.pro.table.columns.HosTableColumns" scope="request" parent="baseTableColumns" />
  <bean id="zoneEventsTableColumns" class="com.inthinc.pro.table.columns.ZoneEventsTableColumns" scope="request" parent="eventsTableColumns" />
  <bean id="hosEventsTableColumns" class="com.inthinc.pro.table.columns.HOSEventsTableColumns" scope="request" parent="eventsTableColumns" />
  
<!--    
  <bean id="phoneBean" class="com.inthinc.pro.backing.PhoneBean" parent="baseBean">
  </bean>
-->

  <bean id="supportBean" class="com.inthinc.pro.backing.SupportBean" parent="baseBean">
  	<property name="defaultSupportContacts" value="${supportContact.default}" />
  </bean>
 

  <bean id="hosBean" class="com.inthinc.pro.backing.HosBean" scope="session" init-method="init">
  </bean>

  <bean id="hosReportsBean" class="com.inthinc.pro.backing.HosReportsBean" scope="request" init-method="init">
    <property name="reportCriteriaService" ref="reportCriteriaService" />
    <property name="reportRenderer" ref="reportRenderer" />
  </bean>
  
  <bean id="waysmartReportsBean" class="com.inthinc.pro.backing.WaysmartReportsBean" scope="request" init-method="init">
    <property name="reportCriteriaService" ref="reportCriteriaService" />
    <property name="reportRenderer" ref="reportRenderer" />
  </bean>

</beans>
