<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

   <bean id="sbsDataAccessBean" class="com.iwi.teenserver.dao.hessian.DataAccessHessianImpl">
	   <property name="dataAccessServices" ref="sbsDataAccessServicesBean" />
   </bean>
   <bean id="sbsDataAccessServicesBean" class="com.iwi.teenserver.dao.hessian.IWIDataAccess">
		<property name="siloDataAccessHost" value="${teenproxy.siloDataAccessHost}"/>
		<property name="siloDataAccessPort" value="${teenproxy.siloDataAccessPort}"/>
		<property name="centralDataAccessHost" value="${teenproxy.centralDataAccessHost}"/>
		<property name="centralDataAccessPort" value="${teenproxy.centralDataAccessPort}"/>		
   </bean>
   <bean id="speedLimitChangeRequests" class="com.inthinc.pro.backing.SpeedLimitChangeRequestBean" scope="request" parent="baseBean" init-method="init">
     	<property name="mailSender" ref="mailSenderBean" />
 		<property name="sbsUserId" value="${teenproxy.sbsUserId}"/>
		<property name="sbsUserName" value="${teenproxy.sbsUserName}"/>
		<property name="teenServerDAO" ref="sbsDataAccessBean"/>
		<property name="tigerDao" ref="tigerDao"/>
		
   </bean>
     <bean id="slcrTable" class="com.inthinc.pro.backing.ui.TrendTable" scope="request"></bean>
  
     <bean id="tigerDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://${speedbystreet.iwigis}:5432/iwigis" />
		<property name="username" value="${speedbystreet.username}" />
		<property name="password" value="${speedbystreet.password}" />
		<property name="initialSize" value="5" />
		<property name="maxActive" value="10" />
   </bean>
   
   <bean id="tigerDao" class="com.inthinc.pro.sbs.jdbc.JdbcTigerDAO">
		<property name="dataSource" ref="tigerDataSource" />
   </bean>
   
</beans>
