p.FM_Endnotetext { 
                  margin-left:0.000pt; 
                  margin-right:0.000pt; 
                  text-align:left; 
                  text-indent:0.000pt; 
                  margin-top:0.000pt; 
                  margin-bottom:6.000pt; 
                  word-spacing:0.250em; 
                  font-family:Times New Roman; 
                  font-style:normal; 
                  font-weight:normal; 
                  font-size:8.0pt; 
                  color:#000000; 
                  text-decoration:none; 
                  letter-spacing:0.00em;  }
p.FM_steps2 { 
             margin-left:54.000pt; 
             margin-right:0.000pt; 
             text-align:left; 
             text-indent:-18.000pt; 
             margin-top:0.000pt; 
             margin-bottom:6.000pt; 
             word-spacing:0.250em; 
             font-family:Garamond; 
             font-style:normal; 
             font-weight:normal; 
             font-size:11.0pt; 
             color:#000000; 
             text-decoration:none; 
             letter-spacing:0.00em;  }
p.BodyLevel2 { 
              margin-left:36.000pt; 
              margin-right:0.000pt; 
              text-align:left; 
              text-indent:0.000pt; 
              margin-top:8.000pt; 
              margin-bottom:0.000pt; 
              word-spacing:0.250em; 
              font-family:Times New Roman; 
              font-style:normal; 
              font-weight:normal; 
              font-size:11.0pt; 
              color:#000000; 
              letter-spacing:0.00em; 
              text-decoration:none;  }
p.FM_HeadingAfirst { 
                    margin-left:0.000pt; 
                    margin-right:0.000pt; 
                    text-align:justify; 
                    text-indent:0.000pt; 
                    margin-top:8.000pt; 
                    margin-bottom:6.000pt; 
                    word-spacing:0.250em; 
                    font-family:Arial; 
                    font-style:normal; 
                    font-weight:bold; 
                    font-size:12.0pt; 
                    color:#000000; 
                    text-decoration:none; 
                    letter-spacing:0.00em;  }
p.FM_DocumentTitle { 
                    margin-left:126.000pt; 
                    margin-right:0.000pt; 
                    text-align:left; 
                    text-indent:0.000pt; 
                    margin-top:18.000pt; 
                    margin-bottom:24.000pt; 
                    word-spacing:0.250em; 
                    font-family:Arial; 
                    font-style:normal; 
                    font-weight:bold; 
                    font-size:18.0pt; 
                    color:#000000; 
                    text-decoration:none; 
                    letter-spacing:0.00em;  }
p.Title { 
         margin-left:0.000pt; 
         margin-right:0.000pt; 
         text-align:left; 
         text-indent:0.000pt; 
         margin-top:22.000pt; 
         margin-bottom:11.000pt; 
         word-spacing:0.250em; 
         font-family:Arial; 
         font-style:normal; 
         font-weight:bold; 
         font-size:18.0pt; 
         color:#000000; 
         letter-spacing:0.00em; 
         text-decoration:none;  }
p.FM_Steps { 
            margin-left:36.000pt; 
            margin-right:0.000pt; 
            text-align:left; 
            text-indent:-18.000pt; 
            margin-top:0.000pt; 
            margin-bottom:6.000pt; 
            word-spacing:0.250em; 
            font-family:Garamond; 
            font-style:normal; 
            font-weight:normal; 
            font-size:11.0pt; 
            color:#000000; 
            text-decoration:none; 
            letter-spacing:0.00em;  }
p.FM_NoSpacing { 
                margin-left:0.000pt; 
                margin-right:0.000pt; 
                text-align:left; 
                text-indent:0.000pt; 
                margin-top:0.000pt; 
                margin-bottom:6.000pt; 
                word-spacing:0.250em; 
                font-family:Arial; 
                font-style:normal; 
                font-weight:normal; 
                font-size:12.0pt; 
                color:#000000; 
                text-decoration:none; 
                letter-spacing:0.00em;  }
p.BodyLevel1 { 
              margin-left:18.000pt; 
              margin-right:0.000pt; 
              text-align:left; 
              text-indent:0.000pt; 
              margin-top:8.000pt; 
              margin-bottom:0.000pt; 
              word-spacing:0.250em; 
              font-family:Times New Roman; 
              font-style:normal; 
              font-weight:normal; 
              font-size:11.0pt; 
              color:#000000; 
              letter-spacing:0.00em; 
              text-decoration:none;  }
p.FM_Toc1 { 
           margin-left:63.000pt; 
           margin-right:0.000pt; 
           text-align:left; 
           text-indent:-63.000pt; 
           margin-top:5.000pt; 
           margin-bottom:5.000pt; 
           word-spacing:0.250em; 
           font-family:Garamond; 
           font-style:normal; 
           font-weight:normal; 
           font-size:11.0pt; 
           color:#000000; 
           text-decoration:none; 
           letter-spacing:0.00em;  }
p.FM_HeadingA { 
               margin-left:0.000pt; 
               margin-right:0.000pt; 
               text-align:justify; 
               text-indent:0.000pt; 
               margin-top:12.000pt; 
               margin-bottom:6.000pt; 
               word-spacing:0.250em; 
               font-family:Arial; 
               font-style:normal; 
               font-weight:bold; 
               font-size:12.0pt; 
               color:#000000; 
               text-decoration:none; 
               letter-spacing:0.00em;  }
p.FM_figframe { 
               margin-left:0.000pt; 
               margin-right:0.000pt; 
               text-align:center; 
               text-indent:0.000pt; 
               margin-top:0.000pt; 
               margin-bottom:3.000pt; 
               word-spacing:0.250em; 
               font-family:Garamond; 
               font-style:normal; 
               font-weight:normal; 
               font-size:11.0pt; 
               color:#000000; 
               text-decoration:none; 
               letter-spacing:0.00em;  }
p.FM_TOCHeading { 
                 margin-left:21.600pt; 
                 margin-right:0.000pt; 
                 text-align:center; 
                 text-indent:-21.600pt; 
                 margin-top:4.000pt; 
                 margin-bottom:10.000pt; 
                 word-spacing:0.250em; 
                 font-family:Arial; 
                 font-style:normal; 
                 font-weight:bold; 
                 font-size:14.0pt; 
                 color:#000000; 
                 text-decoration:none; 
                 letter-spacing:0.00em;  }
p.FM_Toc2 { 
           margin-left:86.400pt; 
           margin-right:0.000pt; 
           text-align:left; 
           text-indent:-77.400pt; 
           margin-top:5.000pt; 
           margin-bottom:5.000pt; 
           word-spacing:0.250em; 
           font-family:Garamond; 
           font-style:normal; 
           font-weight:normal; 
           font-size:11.0pt; 
           color:#000000; 
           text-decoration:none; 
           letter-spacing:0.00em;  }
p.FM_HeadingB { 
               margin-left:0.000pt; 
               margin-right:0.000pt; 
               text-align:left; 
               text-indent:0.000pt; 
               margin-top:15.000pt; 
               margin-bottom:3.000pt; 
               word-spacing:0.250em; 
               font-family:Arial; 
               font-style:normal; 
               font-weight:bold; 
               font-size:12.0pt; 
               color:#000000; 
               text-decoration:none; 
               letter-spacing:0.00em;  }
h1 { 
    margin-left:0.000pt; 
    margin-right:0.000pt; 
    text-align:left; 
    text-indent:0.000pt; 
    margin-top:17.000pt; 
    margin-bottom:0.000pt; 
    word-spacing:0.250em; 
    font-family:Arial; 
    font-style:normal; 
    font-weight:bold; 
    font-size:14.0pt; 
    color:#000000; 
    letter-spacing:0.00em; 
    text-decoration:none;  }
p.FM_Heading0Chapter { 
                      margin-left:21.600pt; 
                      margin-right:0.000pt; 
                      text-align:left; 
                      text-indent:-21.600pt; 
                      margin-top:24.000pt; 
                      margin-bottom:12.000pt; 
                      word-spacing:0.250em; 
                      font-family:Arial; 
                      font-style:normal; 
                      font-weight:bold; 
                      font-size:24.0pt; 
                      color:#000000; 
                      text-decoration:none; 
                      letter-spacing:0.00em;  }
p.FM_figuretitle { 
                  margin-left:0.000pt; 
                  margin-right:0.000pt; 
                  text-align:center; 
                  text-indent:0.000pt; 
                  margin-top:0.000pt; 
                  margin-bottom:5.000pt; 
                  word-spacing:0.250em; 
                  font-family:Trebuchet MS; 
                  font-style:italic; 
                  font-weight:bold; 
                  font-size:9.0pt; 
                  color:#000000; 
                  text-decoration:none; 
                  letter-spacing:0.00em; 
                  margin-left:0.000pt; 
                  margin-right:0.000pt; 
                  text-align:center; 
                  text-indent:0.000pt; 
                  margin-top:0.000pt; 
                  margin-bottom:5.000pt; 
                  word-spacing:0.250em; 
                  font-family:Trebuchet MS; 
                  font-style:italic; 
                  font-weight:bold; 
                  font-size:9.0pt; 
                  color:#000000; 
                  text-decoration:none; 
                  letter-spacing:0.00em;  }
p.FM_BalloonText { 
                  margin-left:0.000pt; 
                  margin-right:0.000pt; 
                  text-align:left; 
                  text-indent:0.000pt; 
                  margin-top:0.000pt; 
                  margin-bottom:6.000pt; 
                  word-spacing:0.250em; 
                  font-family:Tahoma; 
                  font-style:normal; 
                  font-weight:normal; 
                  font-size:8.0pt; 
                  color:#000000; 
                  text-decoration:none; 
                  letter-spacing:0.00em;  }
p.FM_Toc3 { 
           margin-left:63.000pt; 
           margin-right:0.000pt; 
           text-align:left; 
           text-indent:-31.500pt; 
           margin-top:0.000pt; 
           margin-bottom:6.000pt; 
           word-spacing:0.250em; 
           font-family:Arial; 
           font-style:normal; 
           font-weight:normal; 
           font-size:9.0pt; 
           color:#000000; 
           text-decoration:none; 
           letter-spacing:0.00em;  }
p.FM_HeadingC { 
               margin-left:0.000pt; 
               margin-right:0.000pt; 
               text-align:left; 
               text-indent:0.000pt; 
               margin-top:12.000pt; 
               margin-bottom:2.000pt; 
               word-spacing:0.250em; 
               font-family:Arial; 
               font-style:normal; 
               font-weight:bold; 
               font-size:10.0pt; 
               color:#000000; 
               text-decoration:none; 
               letter-spacing:0.00em;  }
h2 { 
    margin-left:18.000pt; 
    margin-right:36.000pt; 
    text-align:left; 
    text-indent:0.000pt; 
    margin-top:16.000pt; 
    margin-bottom:0.000pt; 
    word-spacing:0.250em; 
    font-family:Arial; 
    font-style:normal; 
    font-weight:bold; 
    font-size:13.0pt; 
    color:#000000; 
    letter-spacing:0.00em; 
    text-decoration:none;  }
p.FM_WarningRed { 
                 margin-left:36.000pt; 
                 margin-right:36.000pt; 
                 text-align:left; 
                 text-indent:0.000pt; 
                 margin-top:7.000pt; 
                 margin-bottom:10.000pt; 
                 word-spacing:0.275em; 
                 font-family:Trebuchet MS; 
                 font-style:italic; 
                 font-weight:bold; 
                 font-size:10.0pt; 
                 color:#ff0000; 
                 text-decoration:none; 
                 letter-spacing:0.00em;  }
p.FM_Toc4 { 
           margin-left:30.000pt; 
           margin-right:0.000pt; 
           text-align:left; 
           text-indent:0.000pt; 
           margin-top:0.000pt; 
           margin-bottom:6.000pt; 
           word-spacing:0.250em; 
           font-family:Calibri; 
           font-style:normal; 
           font-weight:normal; 
           font-size:11.0pt; 
           color:#000000; 
           text-decoration:none; 
           letter-spacing:0.00em;  }
h3 { 
    margin-left:36.000pt; 
    margin-right:0.000pt; 
    text-align:left; 
    text-indent:0.000pt; 
    margin-top:14.000pt; 
    margin-bottom:0.000pt; 
    word-spacing:0.250em; 
    font-family:Arial; 
    font-style:normal; 
    font-weight:bold; 
    font-size:12.0pt; 
    color:#000000; 
    letter-spacing:0.00em; 
    text-decoration:none;  }
p.FM_Toc5 { 
           margin-left:40.000pt; 
           margin-right:0.000pt; 
           text-align:left; 
           text-indent:0.000pt; 
           margin-top:0.000pt; 
           margin-bottom:6.000pt; 
           word-spacing:0.250em; 
           font-family:Calibri; 
           font-style:normal; 
           font-weight:normal; 
           font-size:11.0pt; 
           color:#000000; 
           text-decoration:none; 
           letter-spacing:0.00em;  }
p.FM_StepLev1 { 
               margin-left:18.000pt; 
               margin-right:0.000pt; 
               text-align:left; 
               text-indent:-18.000pt; 
               margin-top:0.000pt; 
               margin-bottom:5.000pt; 
               word-spacing:0.275em; 
               font-family:Trebuchet MS; 
               font-style:normal; 
               font-weight:normal; 
               font-size:10.0pt; 
               color:#000000; 
               text-decoration:none; 
               letter-spacing:0.00em;  }
h4 { 
    margin-left:54.000pt; 
    margin-right:0.000pt; 
    text-align:left; 
    text-indent:0.000pt; 
    margin-top:13.000pt; 
    margin-bottom:0.000pt; 
    word-spacing:0.250em; 
    font-family:Arial; 
    font-style:normal; 
    font-weight:bold; 
    font-size:11.0pt; 
    color:#000000; 
    letter-spacing:0.00em; 
    text-decoration:none;  }
p.FM_Footer { 
             margin-left:0.000pt; 
             margin-right:0.000pt; 
             text-align:left; 
             text-indent:0.000pt; 
             margin-top:0.000pt; 
             margin-bottom:6.000pt; 
             word-spacing:0.250em; 
             font-family:Garamond; 
             font-style:normal; 
             font-weight:normal; 
             font-size:11.0pt; 
             color:#000000; 
             text-decoration:none; 
             letter-spacing:0.00em;  }
p.FM_Toc6 { 
           margin-left:50.000pt; 
           margin-right:0.000pt; 
           text-align:left; 
           text-indent:0.000pt; 
           margin-top:0.000pt; 
           margin-bottom:6.000pt; 
           word-spacing:0.250em; 
           font-family:Calibri; 
           font-style:normal; 
           font-weight:normal; 
           font-size:11.0pt; 
           color:#000000; 
           text-decoration:none; 
           letter-spacing:0.00em;  }
p.FM_StepLev2 { 
               margin-left:36.000pt; 
               margin-right:0.000pt; 
               text-align:left; 
               text-indent:-18.000pt; 
               margin-top:0.000pt; 
               margin-bottom:5.000pt; 
               word-spacing:0.275em; 
               font-family:Trebuchet MS; 
               font-style:normal; 
               font-weight:normal; 
               font-size:10.0pt; 
               color:#000000; 
               text-decoration:none; 
               letter-spacing:0.00em;  }
p.FM_Heading5 { 
               margin-left:50.400pt; 
               margin-right:0.000pt; 
               text-align:left; 
               text-indent:-50.400pt; 
               margin-top:0.000pt; 
               margin-bottom:6.000pt; 
               word-spacing:0.250em; 
               font-family:Garamond; 
               font-style:normal; 
               font-weight:normal; 
               font-size:11.0pt; 
               color:#000000; 
               text-decoration:none; 
               letter-spacing:0.00em;  }
p.FM_Toc7 { 
           margin-left:60.000pt; 
           margin-right:0.000pt; 
           text-align:left; 
           text-indent:0.000pt; 
           margin-top:0.000pt; 
           margin-bottom:6.000pt; 
           word-spacing:0.250em; 
           font-family:Calibri; 
           font-style:normal; 
           font-weight:normal; 
           font-size:11.0pt; 
           color:#000000; 
           text-decoration:none; 
           letter-spacing:0.00em;  }
p.FM_TM { 
         margin-left:0.000pt; 
         margin-right:0.000pt; 
         text-align:left; 
         text-indent:0.000pt; 
         margin-top:0.000pt; 
         margin-bottom:6.000pt; 
         word-spacing:0.250em; 
         font-family:Garamond; 
         font-style:normal; 
         font-weight:normal; 
         font-size:11.0pt; 
         color:#000000; 
         text-decoration:none; 
         letter-spacing:0.00em;  }
p.FM_StepLev3 { 
               margin-left:54.000pt; 
               margin-right:0.000pt; 
               text-align:left; 
               text-indent:-18.000pt; 
               margin-top:0.000pt; 
               margin-bottom:5.000pt; 
               word-spacing:0.250em; 
               font-family:Trebuchet MS; 
               font-style:normal; 
               font-weight:normal; 
               font-size:10.0pt; 
               color:#000000; 
               text-decoration:none; 
               letter-spacing:0.00em;  }
p.FM_Heading6 { 
               margin-left:57.600pt; 
               margin-right:0.000pt; 
               text-align:left; 
               text-indent:-57.600pt; 
               margin-top:0.000pt; 
               margin-bottom:6.000pt; 
               word-spacing:0.250em; 
               font-family:Garamond; 
               font-style:italic; 
               font-weight:normal; 
               font-size:11.0pt; 
               color:#000000; 
               text-decoration:none; 
               letter-spacing:0.00em;  }
p.FM_Toc8 { 
           margin-left:70.000pt; 
           margin-right:0.000pt; 
           text-align:left; 
           text-indent:0.000pt; 
           margin-top:0.000pt; 
           margin-bottom:6.000pt; 
           word-spacing:0.250em; 
           font-family:Calibri; 
           font-style:normal; 
           font-weight:normal; 
           font-size:11.0pt; 
           color:#000000; 
           text-decoration:none; 
           letter-spacing:0.00em;  }
p.FM_Heading7 { 
               margin-left:64.800pt; 
               margin-right:0.000pt; 
               text-align:left; 
               text-indent:-64.800pt; 
               margin-top:0.000pt; 
               margin-bottom:6.000pt; 
               word-spacing:0.250em; 
               font-family:Garamond; 
               font-style:italic; 
               font-weight:normal; 
               font-size:11.0pt; 
               color:#404040; 
               text-decoration:none; 
               letter-spacing:0.00em;  }
p.FM_Header { 
             margin-left:0.000pt; 
             margin-right:0.000pt; 
             text-align:left; 
             text-indent:0.000pt; 
             margin-top:0.000pt; 
             margin-bottom:6.000pt; 
             word-spacing:0.250em; 
             font-family:Garamond; 
             font-style:normal; 
             font-weight:normal; 
             font-size:11.0pt; 
             color:#000000; 
             text-decoration:none; 
             letter-spacing:0.00em;  }
p.FM_Toc9 { 
           margin-left:80.000pt; 
           margin-right:0.000pt; 
           text-align:left; 
           text-indent:0.000pt; 
           margin-top:0.000pt; 
           margin-bottom:6.000pt; 
           word-spacing:0.250em; 
           font-family:Calibri; 
           font-style:normal; 
           font-weight:normal; 
           font-size:11.0pt; 
           color:#000000; 
           text-decoration:none; 
           letter-spacing:0.00em;  }
p.FM_StepLev1first { 
                    margin-left:18.000pt; 
                    margin-right:0.000pt; 
                    text-align:left; 
                    text-indent:-18.000pt; 
                    margin-top:0.000pt; 
                    margin-bottom:5.000pt; 
                    word-spacing:0.275em; 
                    font-family:Trebuchet MS; 
                    font-style:normal; 
                    font-weight:normal; 
                    font-size:10.0pt; 
                    color:#000000; 
                    text-decoration:none; 
                    letter-spacing:0.00em;  }
p.FM_StepLargeLev1first { 
                         margin-left:18.000pt; 
                         margin-right:0.000pt; 
                         text-align:left; 
                         text-indent:-18.000pt; 
                         margin-top:14.000pt; 
                         margin-bottom:6.000pt; 
                         word-spacing:0.250em; 
                         font-family:Arial; 
                         font-style:normal; 
                         font-weight:bold; 
                         font-size:12.0pt; 
                         color:#000000; 
                         text-decoration:none; 
                         letter-spacing:0.00em;  }
p.FM_Heading8 { 
               margin-left:72.000pt; 
               margin-right:0.000pt; 
               text-align:left; 
               text-indent:-72.000pt; 
               margin-top:0.000pt; 
               margin-bottom:6.000pt; 
               word-spacing:0.250em; 
               font-family:Garamond; 
               font-style:normal; 
               font-weight:normal; 
               font-size:11.0pt; 
               color:#404040; 
               text-decoration:none; 
               letter-spacing:0.00em;  }
p.FM_StepLev3first { 
                    margin-left:54.000pt; 
                    margin-right:0.000pt; 
                    text-align:left; 
                    text-indent:-18.000pt; 
                    margin-top:0.000pt; 
                    margin-bottom:5.000pt; 
                    word-spacing:0.250em; 
                    font-family:Trebuchet MS; 
                    font-style:normal; 
                    font-weight:normal; 
                    font-size:10.0pt; 
                    color:#000000; 
                    text-decoration:none; 
                    letter-spacing:0.00em;  }
p.FM_StepLev2first { 
                    margin-left:36.000pt; 
                    margin-right:0.000pt; 
                    text-align:left; 
                    text-indent:-18.000pt; 
                    margin-top:0.000pt; 
                    margin-bottom:5.000pt; 
                    word-spacing:0.275em; 
                    font-family:Trebuchet MS; 
                    font-style:normal; 
                    font-weight:normal; 
                    font-size:10.0pt; 
                    color:#000000; 
                    text-decoration:none; 
                    letter-spacing:0.00em;  }
p.BodyLevel3 { 
              margin-left:54.000pt; 
              margin-right:0.000pt; 
              text-align:left; 
              text-indent:0.000pt; 
              margin-top:8.000pt; 
              margin-bottom:0.000pt; 
              word-spacing:0.250em; 
              font-family:Times New Roman; 
              font-style:normal; 
              font-weight:normal; 
              font-size:11.0pt; 
              color:#000000; 
              letter-spacing:0.00em; 
              text-decoration:none;  }
p.FM_Heading9 { 
               margin-left:79.200pt; 
               margin-right:0.000pt; 
               text-align:left; 
               text-indent:-79.200pt; 
               margin-top:0.000pt; 
               margin-bottom:6.000pt; 
               word-spacing:0.250em; 
               font-family:Garamond; 
               font-style:italic; 
               font-weight:normal; 
               font-size:11.0pt; 
               color:#404040; 
               text-decoration:none; 
               letter-spacing:0.00em;  }
p.FM_FooterText { 
                 margin-left:54.000pt; 
                 margin-right:0.000pt; 
                 text-align:left; 
                 text-indent:0.000pt; 
                 margin-top:0.000pt; 
                 margin-bottom:6.000pt; 
                 word-spacing:0.250em; 
                 font-family:Garamond; 
                 font-style:normal; 
                 font-weight:normal; 
                 font-size:11.0pt; 
                 color:#000000; 
                 text-decoration:none; 
                 letter-spacing:0.00em;  }
p.FM_Warning { 
              margin-left:0.000pt; 
              margin-right:0.000pt; 
              text-align:left; 
              text-indent:0.000pt; 
              margin-top:7.000pt; 
              margin-bottom:10.000pt; 
              word-spacing:0.250em; 
              font-family:Trebuchet MS; 
              font-style:italic; 
              font-weight:bold; 
              font-size:10.0pt; 
              color:#ff0000; 
              text-decoration:none; 
              letter-spacing:0.00em;  }
h5 { 
    font-weight:bold; 
    font-size:10.0pt;  }
p.FM_StepLargeLev1 { 
                    margin-left:18.000pt; 
                    margin-right:0.000pt; 
                    text-align:left; 
                    text-indent:-18.000pt; 
                    margin-top:14.000pt; 
                    margin-bottom:6.000pt; 
                    word-spacing:0.250em; 
                    font-family:Arial; 
                    font-style:normal; 
                    font-weight:bold; 
                    font-size:12.0pt; 
                    color:#000000; 
                    text-decoration:none; 
                    letter-spacing:0.00em;  }
p.FM_Caption { 
              margin-left:0.000pt; 
              margin-right:0.000pt; 
              text-align:left; 
              text-indent:0.000pt; 
              margin-top:0.000pt; 
              margin-bottom:6.000pt; 
              word-spacing:0.250em; 
              font-family:Garamond; 
              font-style:normal; 
              font-weight:bold; 
              font-size:11.0pt; 
              color:#000000; 
              text-decoration:none; 
              letter-spacing:0.00em;  }
p.FM_OutlineBodyText { 
                      margin-left:0.000pt; 
                      margin-right:0.000pt; 
                      text-align:left; 
                      text-indent:36.000pt; 
                      margin-top:0.000pt; 
                      margin-bottom:11.000pt; 
                      word-spacing:0.250em; 
                      font-family:Garamond; 
                      font-style:normal; 
                      font-weight:normal; 
                      font-size:11.0pt; 
                      color:#000000; 
                      text-decoration:none; 
                      letter-spacing:0.00em;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px;  }
span.FM_Bullet4 { 
                 font-family:Arial; 
                 font-style:normal; 
                 font-weight:normal; 
                 font-size:12.0pt; 
                 color:#000000; 
                 text-decoration:none;  }
span.FM_Bullet5 { 
                 font-style:normal; 
                 font-weight:normal; 
                 color:#000000; 
                 text-decoration:none;  }
span.FM_Bullet6 { 
                 font-family:Arial; 
                 font-style:normal; 
                 font-weight:normal; 
                 font-size:12.0pt; 
                 color:#000000; 
                 text-decoration:none;  }
span.FM_NonOutlineHeadingChar { 
                               font-style:normal; 
                               font-weight:bold; 
                               font-size:12.0pt; 
                               color:#000000; 
                               text-decoration:none;  }
span.FM_FooterChar { 
                    font-family:Arial; 
                    font-style:normal; 
                    font-weight:normal; 
                    font-size:10.0pt; 
                    color:#000000; 
                    text-decoration:none;  }
span.FM_Bullet7 { 
                 font-style:normal; 
                 font-weight:normal; 
                 color:#000000; 
                 text-decoration:none;  }
span.FM_Bullet10 { 
                  font-family:Arial; 
                  font-style:normal; 
                  font-weight:normal; 
                  font-size:12.0pt; 
                  color:#000000; 
                  text-decoration:none;  }
span.FM_Bold { 
              font-family:Garamond; 
              font-style:italic; 
              font-weight:normal; 
              font-size:11.0pt; 
              color:#000000; 
              text-decoration:none; 
              letter-spacing:0.00em;  }
span.FM_WarningChar { 
                     font-family:Garamond; 
                     font-style:italic; 
                     font-weight:bold; 
                     font-size:11.0pt; 
                     color:#ff0000; 
                     text-decoration:none; 
                     letter-spacing:0.00em;  }
span.FM_Bullet8 { 
                 font-family:Arial; 
                 font-style:normal; 
                 font-weight:normal; 
                 font-size:12.0pt; 
                 color:#000000; 
                 text-decoration:none;  }
span.FM_Bullet11 { 
                  font-family:Symbol; 
                  font-style:normal; 
                  font-weight:normal; 
                  font-size:12.0pt; 
                  color:#000000; 
                  text-decoration:none;  }
span.FM_TitleChar { 
                   font-family:Arial; 
                   font-style:normal; 
                   font-weight:bold; 
                   font-size:18.0pt; 
                   color:#000000; 
                   text-decoration:none;  }
span.FM_Heading9Char { 
                      font-family:Garamond; 
                      font-style:italic; 
                      font-weight:normal; 
                      font-size:11.0pt; 
                      color:#404040; 
                      text-decoration:none;  }
span.FM_Bullet9 { 
                 font-family:Wingdings; 
                 font-style:normal; 
                 font-weight:normal; 
                 font-size:12.0pt; 
                 color:#000000; 
                 text-decoration:none;  }
span.FM_Bullet12 { 
                  font-family:Arial; 
                  font-style:normal; 
                  font-weight:normal; 
                  font-size:12.0pt; 
                  color:#000000; 
                  text-decoration:none;  }
span.FM_BalloonTextChar { 
                         font-family:Tahoma; 
                         font-style:normal; 
                         font-weight:normal; 
                         font-size:8.0pt; 
                         color:#000000; 
                         text-decoration:none;  }
span.FM_Heading8Char { 
                      font-family:Garamond; 
                      font-style:normal; 
                      font-weight:normal; 
                      font-size:11.0pt; 
                      color:#404040; 
                      text-decoration:none;  }
span.FM_Bullet13 { 
                  font-style:normal; 
                  font-weight:normal; 
                  color:#000000; 
                  text-decoration:none;  }
span.FM_Heading7Char { 
                      font-family:Garamond; 
                      font-style:italic; 
                      font-weight:normal; 
                      font-size:11.0pt; 
                      color:#404040; 
                      text-decoration:none;  }
span.FM_Bullet14 { 
                  font-family:Wingdings; 
                  font-style:normal; 
                  font-weight:normal; 
                  font-size:12.0pt; 
                  color:#000000; 
                  text-decoration:none;  }
span.FM_Heading6Char { 
                      font-family:Garamond; 
                      font-style:italic; 
                      font-weight:normal; 
                      font-size:11.0pt; 
                      color:#000000; 
                      text-decoration:none;  }
span.FM_Bullet15 { 
                  font-style:normal; 
                  font-weight:normal; 
                  color:#000000; 
                  text-decoration:none;  }
span.FM_Heading5Char { 
                      font-family:Garamond; 
                      font-style:normal; 
                      font-weight:normal; 
                      font-size:11.0pt; 
                      color:#000000; 
                      text-decoration:none;  }
span.FM_Bullet16 { 
                  font-family:Wingdings; 
                  font-style:normal; 
                  font-weight:normal; 
                  font-size:12.0pt; 
                  color:#000000; 
                  text-decoration:none;  }
span.FM_Hyperlink { 
                   font-style:normal; 
                   font-weight:normal; 
                   font-size:12.0pt; 
                   color:#0000ff; 
                   text-decoration:underline;  }
span.FM_Heading4Char { 
                      font-family:Garamond; 
                      font-style:italic; 
                      font-weight:bold; 
                      font-size:11.0pt; 
                      color:#000000; 
                      text-decoration:none;  }
span.FM_Bullet17 { 
                  font-family:Arial; 
                  font-style:normal; 
                  font-weight:normal; 
                  font-size:12.0pt; 
                  color:#000000; 
                  text-decoration:none;  }
span.FM_Heading3Char { 
                      font-family:Garamond; 
                      font-style:normal; 
                      font-weight:bold; 
                      font-size:11.0pt; 
                      color:#000000; 
                      text-decoration:none;  }
span.FM_Bullet18 { 
                  font-style:normal; 
                  font-weight:normal; 
                  color:#000000; 
                  text-decoration:none;  }
span.FM_StepsChar { 
                   font-style:normal; 
                   font-weight:normal; 
                   font-size:12.0pt; 
                   color:#000000; 
                   text-decoration:none;  }
span.FM_NoteChar { 
                  font-family:Garamond; 
                  font-style:italic; 
                  font-weight:bold; 
                  font-size:11.0pt; 
                  color:#000000; 
                  text-decoration:none; 
                  letter-spacing:0.00em;  }
span.FM_Heading2Char { 
                      font-style:normal; 
                      font-weight:bold; 
                      font-size:12.0pt; 
                      color:#000000; 
                      text-decoration:none;  }
span.FM_Bullet19 { 
                  font-family:Arial; 
                  font-style:normal; 
                  font-weight:normal; 
                  font-size:12.0pt; 
                  color:#000000; 
                  text-decoration:none;  }
span.FM_Heading1Char { 
                      font-style:normal; 
                      font-weight:bold; 
                      font-size:12.0pt; 
                      color:#000000; 
                      text-decoration:none;  }
span.FM_HeaderChar { 
                    font-family:Arial; 
                    font-style:normal; 
                    font-weight:normal; 
                    font-size:10.0pt; 
                    color:#000000; 
                    text-decoration:none;  }
span.FM_FooterTextChar { 
                        font-family:Arial; 
                        font-style:normal; 
                        font-weight:normal; 
                        font-size:10.0pt; 
                        color:#000000; 
                        text-decoration:none;  }
span.FM_FollowedHyperlink { 
                           font-family:Garamond; 
                           font-style:normal; 
                           font-weight:normal; 
                           font-size:11.0pt; 
                           color:#800180; 
                           text-decoration:underline; 
                           letter-spacing:0.00em;  }
span.FM_EndnoteTextChar { 
                         font-family:Times New Roman; 
                         font-style:normal; 
                         font-weight:normal; 
                         font-size:8.0pt; 
                         color:#000000; 
                         text-decoration:none;  }
span.FM_Bullet1 { 
                 font-style:normal; 
                 font-weight:normal; 
                 color:#000000; 
                 text-decoration:none;  }
span.FM_Bullet2 { 
                 font-family:Symbol; 
                 font-style:normal; 
                 font-weight:normal; 
                 font-size:12.0pt; 
                 color:#000000; 
                 text-decoration:none;  }
span.FM_figuretitleChar { 
                         font-style:italic; 
                         font-weight:bold; 
                         font-size:8.0pt; 
                         color:#000000; 
                         text-decoration:none;  }
span.FM_Bullet3 { 
                 font-family:Wingdings; 
                 font-style:normal; 
                 font-weight:normal; 
                 font-size:12.0pt; 
                 color:#000000; 
                 text-decoration:none;  }
