<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

   <bean id="genericDAO" class="com.inthinc.pro.dao.hessian.GenericHessianDAO" abstract="true" >
		<property name="serviceCreator" ref="centralServiceCreator" />
		<property name="siloServiceCreator" ref="siloServiceCreator" />
   </bean>
   <bean id="userDAO" class="com.inthinc.pro.dao.hessian.UserHessianDAO" 
   		parent="genericDAO">
   </bean>
   <bean id="personDAO" class="com.inthinc.pro.dao.hessian.PersonHessianDAO" 
      parent="genericDAO">
   </bean>
   <bean id="groupDAO" class="com.inthinc.pro.dao.hessian.GroupHessianDAO" 
   		parent="genericDAO">
   </bean>
   <bean id="scoreDAO" class="com.inthinc.pro.dao.hessian.ScoreHessianDAO" 
   		parent="genericDAO">
   </bean>
   <bean id="vehicleDAO" class="com.inthinc.pro.dao.hessian.VehicleHessianDAO" 
   		parent="genericDAO">
   </bean>
   <bean id="eventDAO" class="com.inthinc.pro.dao.hessian.EventHessianDAO" 
   		parent="genericDAO">
   </bean>
   <bean id="tripDAO" class="com.inthinc.pro.dao.hessian.TripHessianDAO" 
   		parent="genericDAO">
   </bean>
   <bean id="deviceDAO" class="com.inthinc.pro.dao.hessian.DeviceHessianDAO" 
   		parent="genericDAO">
   </bean>
   
</beans>