<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="centralServiceCreator" class="com.inthinc.pro.dao.mock.proserver.CentralServiceCreator" />
    <bean id="siloServiceCreator" class="com.inthinc.pro.dao.mock.proserver.SiloServiceCreator" />
    <bean id="reportServiceCreator" class="com.inthinc.pro.dao.mock.proserver.ReportServiceCreator" />

</beans>
