#logo {
	float: left;
	margin: 0;
	padding: 0;
	background: url(../images/New_inthinc_reverse_white_small.gif) no-repeat top left;
	}

.panel_title {
	background: url(../images/top_right.gif) repeat-x right top;
	color: #333;
	font: bold 14px "Trebuchet MS", Verdana, Tahoma, Arial, sans-serif;
	height: 30px;
	margin: 0 0 -6px 15px;
	padding: 6px 0 0 0;
	margin-left: 10px;
	position: relative;
	}

.panel_nw {
	background: #fff url(../images/top_left.gif) no-repeat;
	height: 30px;
	padding: 0 0 0 0;
	} 

button {
	width:auto;
	overflow: visible;
	}
	
button span {
	margin-top: 2px;
	}
    
ul#grid_nav li {
	list-style: none;
	padding: 2px 4px 2px 4px;
	margin: 0;
	}
	
ul#grid_nav li.divider {
	list-style: none;
	padding: 6px 0 0 0;
	margin: 0;
	}
	
#horz_nav li a.tb-account {
	background: url(../images/ico_account.gif) no-repeat 5px 50%;
	}
	
#horz_nav li a.tb-messages {
	background: url(../images/ico_email.gif) no-repeat 5px 50%;
	}	

#horz_nav li a.tb-help {
	background: url(../images/ico_help.gif) no-repeat 5px 50%;
	}
	
#horz_nav li a.tb-logout {
	background: url(../images/ico_logout.gif) no-repeat 5px 50%;
	}

ul.fdtablePaginater {display:inline-block;}
ul.fdtablePaginater {display:inline;}
ul.fdtablePaginater li {float:left;}
ul.fdtablePaginater {text-align:center;}
/* table { border-bottom:1px solid #8BAD37; } */

.panel_title span.login {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_key.gif) no-repeat center left;
	width: 225px;
	}
	
.panel_title span.overall {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_overall.gif) no-repeat center left;
	}
	
.panel_title span.top5 {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_overall.gif) no-repeat center left;
	}
	
.panel_title span.mile {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_mile.gif) no-repeat center left;
	}
	
.panel_title span.thumbsdown {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_thumbsdown.gif) no-repeat center left;
	}
	
.panel_title span.line {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_line.gif) no-repeat center left;
	}
	
.panel_title span.event {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_event.gif) no-repeat center left;
	}
	
.panel_title span.warningtitle {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_critical.gif) no-repeat center left;
	}
	
.panel_title span.gas {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_gas.gif) no-repeat center left;
	}
	
.panel_title span.map {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_map.gif) no-repeat center left;
	}
	
.panel_title span.search {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_search.gif) no-repeat center left;
	}
	
.panel_title span.vehicle {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_vehicle.gif) no-repeat center left;
	}
	
.panel_title span.zones {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_zones.gif) no-repeat center left;
	}
	
.panel_title span.zone_alerts {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_zone_alerts.gif) no-repeat center left;
	}
	
.panel_title span.driver {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_driver.gif) no-repeat center left;
	}
	
.panel_title span.admin {	
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_admin.gif) no-repeat center left;
	}
	
.panel_title span.speed {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_speed.gif) no-repeat center left;
	}
	
.panel_title span.details {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_details.gif) no-repeat center left;
	}
	
.panel_title span.seatbelt {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_seatbelt.gif) no-repeat center left;
	}
	
.panel_title span.coaching {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_coaching.gif) no-repeat center left;
	}
	
.panel_title span.redflag {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_red_flag.gif) no-repeat center left;
	}
	
.panel_title span.cal {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_cal.gif) no-repeat center left;
	}
	
.panel_title span.zones {
	padding: 0 0 0 20px;
	background: transparent url(../images/ico_zones.gif) no-repeat center left;
	}

.ls_tab_sub {
	/* height: 15px; */
	padding: 8px 0 8px 8px;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	}
	
.ls_tab_sub_active {
	height: 15px;
	padding: 8px 0 8px 8px;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background: #EBFFCA;
	color: #30450C;
	}
	
a.ls_tab_overall {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_overall.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_critical {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_critical.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 0;
	}
	
a.ls_tab_warning {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_warning.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 0;
	}
	
a.ls_tab_info {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_info.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 0;
	}
	
.ls_tab_critical {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_critical.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 0;
	}
	
.ls_tab_warning {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_warning.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 0;
	}
	
.ls_tab_info {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_info.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 0;
	}
a.ls_tab_drivestyle {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_car.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_speed {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_speed.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_seatbelt {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_seatbelt.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}

a.ls_tab_add_driver {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_add_driver.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_add_vehicle {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_add_vehicle.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}

a.ls_tab_coaching {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_coaching.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_search {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_search.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_driver {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_driver.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_vehicle {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_vehicle.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_map {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_map.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_time {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_time.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_cost {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_cost.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_redflag {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_red_flag.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_add_redflag {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_add_redflag.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_zones {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_zones.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_zone_alerts {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_zone_alerts.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_add_zone_alerts {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_add_zone_alerts.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_asset {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_asset.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_tiwi {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_tiwi.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_add_tiwi {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_add_tiwi.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_trailer {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_trailer.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_add_trailer {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_add_trailer.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
	
a.ls_tab_edit_columns {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_edit_columns.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_email {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_email.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_standing {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_vehicle_stopped.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_idling {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_vehicle_idling.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_gas {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_gas.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
a.ls_tab_mile {
	padding: 6px 10px 7px 20px;
	background: transparent url(../images/ico_mile.gif) no-repeat center left;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 8px;
	}
	
.datagrid_panel {
    overflow-x: auto;
    overflow-y:hidden;
    min-height:50px;	
	position:relative;
}

.datagrid th div {
    overflow-x: auto;
    overflow-y: hidden;
}

.datagrid {
	margin-bottom: 18px;
}

.datagrid td {
   border-bottom: 1px solid #8BAD37; 
   padding: 8px;
}

/* LEFT Tabs for radio button list */

table.left_tab_table {
	border-spacing: 0px;
}

table.left_tab_table tr
{
      background: none;
}

table.left_tab_table td
{
      padding: 7px;
      background: #F0F0F0;
      border-left: solid 1px #E1E1E1;
      border-top: solid 1px #E1E1E1;
      border-bottom: solid 1px #E1E1E1;
      font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}


