/*************Dhock**********/

.itable					{ border: 1px solid gray; }
.itable tr.header th	{ text-align: left; }
.itable tr.alt			{ background-color: #eff7ff; }
.itable tr.reg			{ background-color: #fff; }
.itable th				{ background: url(/iui/blue_hd_bg.png) top left repeat-x; border-right: 1px solid grey; }
.itable th:last-child	{ border-right: none; }
.itable td				{ border-right: 1px solid gray; }
.itable tr:first-child	{ white-space: nowrap; }
.itable tr:last-child	{ border-right: none; }

