<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="byName">

    <!-- Service Related Beans -->
    <bean id="siloServiceBean" factory-bean="siloServiceCreator" factory-method="getService" />
    <bean id="reportServiceBean" factory-bean="reportServiceCreator" factory-method="getService" />
    

    <!-- DAO -->
    <bean id="genericDAO" class="com.inthinc.pro.dao.hessian.GenericHessianDAO" abstract="true">
        <property name="siloService" ref="siloServiceBean" />
    </bean>
    <bean id="genericJDBCDAO" class="com.inthinc.pro.dao.jdbc.GenericJDBCDAO" abstract="true">
        <property name="dataSource" ref="tiwiJDBCDataSource" />
    </bean>
    <bean id="addressDAO" class="com.inthinc.pro.dao.hessian.AddressHessianDAO" parent="genericDAO"></bean>
    <bean id="groupDAO" class="com.inthinc.pro.dao.hessian.GroupHessianDAO" parent="genericDAO"></bean>
    <bean id="personDAO" class="com.inthinc.pro.dao.hessian.PersonHessianDAO" parent="genericDAO"></bean>
    <bean id="driverDAO" class="com.inthinc.pro.dao.hessian.DriverHessianDAO" parent="genericDAO"></bean>
    <bean id="eventDAO" class="com.inthinc.pro.dao.hessian.EventHessianDAO" parent="genericDAO"></bean>
    <bean id="reportScheduleDAO" class="com.inthinc.pro.dao.hessian.ReportScheduleHessianDAO" parent="genericDAO"></bean>
    <bean id="userDAO" class="com.inthinc.pro.dao.hessian.UserHessianDAO" parent="genericDAO"></bean>
    <bean id="deviceDAO" class="com.inthinc.pro.dao.hessian.DeviceHessianDAO" parent="genericDAO"></bean>
    <bean id="deviceSensitivityMapping" class="com.inthinc.pro.model.app.DeviceSensitivityMapping" init-method="init">
		<property name="deviceDAO" ref="deviceDAO"></property>
    </bean>
    <bean id="vehicleDAO" class="com.inthinc.pro.dao.hessian.VehicleHessianDAO" parent="genericDAO"></bean>
    <bean id="accountDAO" class="com.inthinc.pro.dao.hessian.AccountHessianDAO" parent="genericDAO"></bean>
    <bean id="scoreDAO" class="com.inthinc.pro.dao.hessian.ScoreHessianDAO" parent="genericDAO">
        <property name="reportService" ref="reportServiceBean" />
    </bean>
    <bean id="mpgDAO" class="com.inthinc.pro.dao.hessian.MpgHessianDAO" parent="genericDAO">
        <property name="reportService" ref="reportServiceBean" />
    </bean>
    <bean id="zoneDAO" class="com.inthinc.pro.dao.hessian.ZoneHessianDAO" parent="genericDAO"></bean>
    
    <bean id="groupReportDAO" class="com.inthinc.pro.dao.hessian.report.GroupReportHessianDAO">
        <property name="reportService" ref="reportServiceBean" />
    </bean>
    
    <bean id="reportDAO" class="com.inthinc.pro.dao.hessian.ReportHessianDAO"  parent="genericDAO"/>
    
     <!-- Address Lookup -->
    <bean id="geonamesAddressLookupBean" class="com.inthinc.pro.map.GeonamesAddressLookup">
      	<property name="mapServerURLString" value="${mapserver.geonames.url}"/>
    </bean>
  <bean id="googleAddressLookupBean" class="com.inthinc.pro.map.GoogleAddressLookup">
    <property name="googleMapGeoUrl" value="${google.map.geo.url}"/>
  </bean>
  
  <bean id="latLngFormatterBean" class="com.inthinc.pro.map.LatLngFormatterBean"/>

</beans>