<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="byName">
	<bean id="siloServiceCreator"
		class="com.inthinc.pro.dao.hessian.proserver.SiloServiceCreator">
		<constructor-arg value="${proxy.siloDataAccessHost}" />
		<constructor-arg value="${proxy.siloDataAccessPort}" />
	</bean>
	<bean id="reportServiceCreator"
		class="com.inthinc.pro.dao.hessian.proserver.ReportServiceCreator">
		<constructor-arg value="${proxy.siloDataAccessHost}" />
		<constructor-arg value="${proxy.siloDataAccessPort}" />
	</bean>

	<bean id="tiwiJDBCDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.mysql.driverClassName}" />
		<property name="url" value="${jdbc.mysql.url}" />
		<property name="connectionProperties" value="${jdbc.mysql.connectionProperties}" />
		<property name="username" value="${jdbc.mysql.username}" />
		<property name="password" value="${jdbc.mysql.password}" />
		<property name="initialSize" value="${jdbc.dbcp.initialSize}" />
		<property name="maxActive" value="${jdbc.dbcp.maxActive}" />
		<property name="validationQuery" value="${jdbc.dbcp.validationQuery}" />
		<property name="validationQueryTimeout" value="${jdbc.dbcp.validationQueryTimeout}" />
		<property name="testOnBorrow" value="${jdbc.dbcp.testOnBorrow}" />
		<property name="testOnReturn" value="${jdbc.dbcp.testOnReturn}" />
		<property name="testWhileIdle" value="${jdbc.dbcp.testWhileIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${jdbc.dbcp.timeBetweenEvictionRunsMillis}" />
		<property name="removeAbandoned" value="${jdbc.dbcp.removeAbandoned}" />
		<property name="logAbandoned" value="${jdbc.dbcp.logAbandoned}" />
	</bean>

	<!-- <bean id="tiwiJDBCDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="${jdbc.mysql.driverClassName}" /> 
		<property name="url" value="${jdbc.mysql.url}"/> <property name="username" 
		value="${jdbc.mysql.username}"/> <property name="password" value="${jdbc.mysql.password}"/> 
		</bean> -->

<bean id="formsDAO" class="com.inthinc.pro.dao.service.FormsServiceDAO">
	        <property name="protocol" value="${service.forms.protocol"/>
	        <property name="host" value="${service.forms.host"/>
	        <property name="port" value="${service.forms.port"/>
	        <property name="path" value="${service.forms.path"/>
	        <property name="username" value="${service.forms.username"/>
	        <property name="password" value="${service.forms.password"/>
	    </bean>
</beans>
