button {
	width:auto;
	overflow: visible;
	}
	
button span {
	margin-top: 2px;
	}
    
ul#grid_nav li {
	list-style: none;
	padding: 2px 4px 2px 4px;
	margin: 0;
	}
	
ul#grid_nav li.divider {
	list-style: none;
	padding: 6px 0 0 0;
	margin: 0;
	}
	
button
{
	margin-right: 5px;
}
	
ul.fdtablePaginater {display:inline-block;}
ul.fdtablePaginater {display:inline;}
ul.fdtablePaginater li {float:left;}
ul.fdtablePaginater {text-align:center;}
/* table { border-bottom:1px solid #8BAD37; } */

.datagrid_panel {
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 50px;	
	position:relative;
    
}

.datagrid th div {
    overflow-x: auto;
    overflow-y: hidden;
	position:relative;
}

.datagrid {
	margin-bottom: 18px;
}

.datagrid td
{
   border-bottom: 1px solid #8BAD37; 
}

/* LEFT Tabs for radio button list */

table.left_tab_table {
	border-spacing: 0px;
}

table.left_tab_table tr
{
      background: none;
}

table.left_tab_table td
{
      padding: 7px;
      background: #F0F0F0;
      border-left: solid 1px #E1E1E1;
      border-top: solid 1px #E1E1E1;
      border-bottom: solid 1px #E1E1E1;
      font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}
      
.wide_select {
	width: 240px;
	overflow:auto;
	margin-top: 2px;
	line-height: 22px;
}

.wide_select_status {
	width: 110px;
	overflow:auto;
	margin-top: 2px;
	line-height: 22px;
}
