/* Rich Faces overrides */

.rich-message {
	margin-left: 5px;
}

.rich-message-marker {
	margin-right: 5px;
}

.rich-message-label {
	
}

.rich-panel {
	padding: 0px;
	border-style: none;
}

.rich-panel-body {
	padding: 0px;
}

.rich-filter-input {
	width: 80px;
}

.rich-tool-tip {
	
}

.rich-table {
	border: 1px solid #8BAD37;
}

.rich-table-cell {
	border-bottom: 1px solid #8BAD37;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.rich-subtable {
	border: 1px solid #8BAD37;
}

.rich-subtable-cell {
	border-bottom: 1px solid #8BAD37;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}