@CHARSET "UTF-8";
/* SCORES */ 

/* ScoreBox jQuery widget styles */
table.score{
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #333;
	background-color: #FFFFFF;
	padding: 1px;
}

table.score td{
	text-align: center;
	vertical-align:middle;
}

table.score_na{
	border: #CCCCCC 1px solid;
}

table.score_na td{
	background-color: #888888;
}

table.score_1{
	border: #F8A188 1px solid;
}

table.score_1 td{
	background-color: #FF0101;
}

table.score_2{
	border: #FBDABA 1px solid;
}

table.score_2 td{
	background-color: #FF6601;
}

table.score_3{
	border: #FFEC9B 1px solid;
}

table.score_3 td{
	background-color: #F6B305;
}

table.score_4{
	border: #1E88C8 1px solid;
	background-color: #9BD0F0;
}

table.score_4 td{
	background-color: #1E88C8;
}

table.score_5{
	border: #98Cf8F 1px solid;
}

table.score_5 td{
	background-color: #6B9D1B;
}

table.score_xx-small td{
	width: 25px;
	height: 25px;
	font-size: 12px;
}

table.score_small td{
	width: 40px;
	height: 40px;
	font-size: 18px;
}

table.score_medium td{
	width: 60px;
	height: 60px;
	font-size: 24px;
}

table.score_large td{
	font-size: 32px;
	height: 90px;
	width: 90px;
}

table.score_xx-large td{
	font-size: 36px;
	height: 120px;
	width: 120px;
}





