@CHARSET "UTF-8";

body {
/*	background: #EEE;
	background-position: top center; */
	margin: 10px 0 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.mainmenu {
	font-size: 16px;
	margin: 0 auto 10px auto;
	border: none;
/*	width: 1220px; */
	
}

.cols {
	vertical-align: top;
	width: 50%;
}

#login_panel {
	margin: 35px auto;
	width: 300px;
}

form select {
	float: left;
	display: block;
	margin-top: 3px;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
}

form td {
	vertical-align: top;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
}

.header {
	width: 100%;
	font-size: 11px;
}

.header_col1 {
	
}

.header_col2 {
	text-align: right;
}
.result_header {
	width: 900px; 
	font-size: 11px;
	z-index: 10;
}

.result_header_col1 {
	font-weight: bold;
}

.result_header_col2 {
	text-align: right;
}
#login_btn {
	float: right;
}

.labelCol {
	width: 20%;
}
.labelColMiddle {
	width: 25%;
	vertical-align: middle;
}
.valueCol {
	width: 80%;
}
.methodCol {
	width: 30%;
	vertical-align: top;
}
.paramsCol {
	width: 70%;
	vertical-align: top;
}
.optionCol {
	width: 40%;
	text-align : right;
	white-space: nowrap;
	vertical-align: middle;
}
.optionSelCol {
	width: 60%;
}

th.dr-table-headercell {
	color : #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
}

th.rich-table-subheadercell {
	text-align: left;
}

.resultPanel {
	position:relative;
	z-index:20;
	overflow:auto; 
}
	
span.required {
	color: #990000;
}

.field-msg {
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px 0px 1px 16px;
	display: block;
}

.field-warning {
	background: url(../images/icon_msg_warn_small.png) top left no-repeat;
	color: #c26b06;
}

.field-info {
	background: url(../images/icon_msg_info_small.png) top left no-repeat;
	color: #395898;
}

.field-error {
	background: url(../images/icon_msg_err_small.png) top left no-repeat;
	color: #c44d34;
}
	