<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="byName">
	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list><!-- this list must contain any entries from web/applicationContext-bean.xml -->
				<value>classpath:cassandra/cassandra.properties</value>
				<value>classpath:tiwipro.properties</value>
        		<value>file:${CATALINA_HOME}/conf/tiwipro.properties</value>
			</list>
		</property>
	</bean>
	<bean id="cassandraPropertiesBean" class="com.inthinc.pro.automation.CassandraPropertiesBean"
		scope="singleton">
		<property name="address" value="${cassandra.node.address}" />
		<property name="clusterName" value="${cassandra.node.clusterName}" />
		<property name="keyspaceName" value="${cassandra.node.keyspaceName}" />
		<property name="minutes" value="${cassandra.time.minutes}" />
		<property name="seconds" value="${cassandra.time.seconds}" />
		<property name="threads" value="${cassandra.maxThreads}" />
		<property name="poolSize" value="${cassandra.poolSize}" />
		<property name="autoDiscovery" value="${cassandra.useAutoDiscovery}" />
	</bean>
</beans>

