<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <!-- Service Related Beans -->
    <bean id="siloServiceBean" factory-bean="siloServiceCreator" factory-method="getService"/>
    <bean id="reportServiceBean" factory-bean="reportServiceCreator" factory-method="getService"/>

    <!-- DAO -->
    <bean id="driverPerformanceDAO" class="com.inthinc.pro.dao.report.impl.DriverPerformanceDAOImpl"/>
    <bean id="genericDAO" class="com.inthinc.pro.dao.hessian.GenericHessianDAO" abstract="true">
        <property name="siloService" ref="siloServiceBean"></property>
    </bean>
    <bean id="genericJDBCDAO" class="com.inthinc.pro.dao.jdbc.GenericJDBCDAO" abstract="true">
        <property name="dataSource" ref="tiwiJDBCDataSource"/>
    </bean>
    <bean id="locationDAO" class="com.inthinc.pro.dao.hessian.LocationHessianDAO">
        <property name="siloService" ref="siloServiceBean"/>
    </bean>
    <bean id="addressDAO" class="com.inthinc.pro.dao.jdbc.AddressJDBCDAO" parent="genericJDBCDAO">
        <property name="dataSource" ref="tiwiJDBCDataSource"/>
    </bean>
    <bean id="groupDAO" class="com.inthinc.pro.dao.jdbc.GroupJDBCDAO" parent="genericJDBCDAO">
        <property name="dataSource" ref="tiwiJDBCDataSource"/>
    </bean>
    <bean id="personDAO" class="com.inthinc.pro.dao.jdbc.PersonJDBCDAO" parent="genericJDBCDAO">
        <property name="dataSource" ref="tiwiJDBCDataSource"/>
    </bean>
    <bean id="driverDAO" class="com.inthinc.pro.dao.jdbc.DriverJDBCDAO" parent="genericJDBCDAO">
        <property name="dataSource" ref="tiwiJDBCDataSource"/>
        <property name="locationDAO" ref="locationDAO"></property>
        <property name="vehicleDAO" ref="vehicleDAO"></property>
    </bean>
    <bean id="eventDAO" class="com.inthinc.pro.dao.hessian.EventHessianDAO" parent="genericDAO"/>
    <bean id="reportScheduleDAO" class="com.inthinc.pro.dao.jdbc.ReportScheduleJDBCDAO" parent="genericJDBCDAO">
        <property name="dataSource" ref="tiwiJDBCDataSource"/>
    </bean>
    <bean id="groupHierarchy" class="com.inthinc.pro.model.GroupHierarchy"></bean>
    <bean id="userDAO" class="com.inthinc.pro.dao.jdbc.UserJDBCDAO" parent="genericJDBCDAO">
        <property name="dataSource" ref="tiwiJDBCDataSource"/>
    </bean>
    <bean id="deviceDAO" class="com.inthinc.pro.dao.jdbc.DeviceJDBCDAO" parent="genericJDBCDAO">
        <property name="dataSource" ref="tiwiJDBCDataSource"/>
    </bean>
    <bean id="deviceSensitivityMapping" class="com.inthinc.pro.model.app.DeviceSensitivityMapping" init-method="init">
        <property name="deviceDAO" ref="deviceDAO"></property>
    </bean>
    <bean id="vehicleDAO" class="com.inthinc.pro.dao.jdbc.VehicleJDBCDAO" parent="genericJDBCDAO">
        <property name="dataSource" ref="tiwiJDBCDataSource"/>
    </bean>
    <bean id="accountDAO" class="com.inthinc.pro.dao.jdbc.AccountJDBCDAO" parent="genericJDBCDAO">
        <property name="dataSource" ref="tiwiJDBCDataSource"/>
    </bean>
    <bean id="scoreDAO" class="com.inthinc.pro.dao.hessian.ScoreHessianDAO" parent="genericDAO">
        <property name="reportService" ref="reportServiceBean"/>
    </bean>
    <bean id="mpgDAO" class="com.inthinc.pro.dao.hessian.MpgHessianDAO" parent="genericDAO">
        <property name="reportService" ref="reportServiceBean"/>
    </bean>
    <bean id="zoneDAO" class="com.inthinc.pro.dao.jdbc.ZoneJDBCDAO" parent="genericJDBCDAO">
        <property name="dataSource" ref="tiwiJDBCDataSource"/>
    </bean>

    <bean id="groupReportDAO" class="com.inthinc.pro.dao.hessian.report.GroupReportHessianDAO">
        <property name="reportService" ref="reportServiceBean"/>
    </bean>

    <bean id="reportDAO" class="com.inthinc.pro.dao.jdbc.ReportJDBCDAO" parent="genericJDBCDAO">
        <property name="dataSource" ref="tiwiJDBCDataSource"/>
        <property name="driverPerformanceMapper" ref="driverPerformanceMapper"/>
    </bean>

    <bean id="latLngFormatterBean" class="com.inthinc.pro.map.LatLngFormatterBean"/>
    <!-- Custom Mappers -->
    <bean id="driverPerformanceMapper" class="com.inthinc.pro.dao.hessian.mapper.DriverPerformanceMapper"/>

</beans>
