<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

  <bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="ignoreResourceNotFound" value="true" />
    <property name="locations">
      <list>
        <value>classpath:tiwipro.properties</value>
        <value>file:${CATALINA_HOME}/conf/tiwipro.properties</value>
      </list>
    </property>
  </bean>
  
   <!-- Global Application Context (singleton scoped) beans -->
   <bean id="states" class="com.inthinc.pro.model.app.States" init-method="init">
		<property name="stateDAO" ref="stateDAO"></property>
   </bean>
   <bean id="supportedTimeZones" class="com.inthinc.pro.model.app.SupportedTimeZones" init-method="init">
		<property name="timeZoneDAO" ref="timeZoneDAO"></property>
   </bean>
   <bean id="deviceSensitivityMapping" class="com.inthinc.pro.model.app.DeviceSensitivityMapping" init-method="init">
		<property name="deviceDAO" ref="deviceDAO"></property>
   </bean>
     <bean id="siteAccessPoints" class="com.inthinc.pro.model.app.SiteAccessPoints" init-method="init">
 	<property name="roleDAO" ref="roleDAO"></property>
  </bean>

    <!-- Backing Beans -->
    <bean id="daoUtilBean" class="com.inthinc.pro.fulfillment.backing.DAOUtilBean" init-method="init" scope="session">
		<property name="siloServiceCreator" ref="siloServiceCreator" />
		<property name="accountDAO" ref="accountDAO" />
		<property name="groupDAO" ref="groupDAO" />
		<property name="vehicleDAO" ref="vehicleDAO" />
		<property name="deviceDAO" ref="deviceDAO" />
		<property name="eventDAO" ref="eventDAO" />
		<property name="userDAO" ref="userDAO" />
		<property name="driverDAO" ref="driverDAO" />
		<property name="personDAO" ref="personDAO" />
		<property name="roleDAO" ref="roleDAO" />
		<property name="addressDAO" ref="addressDAO" />
    </bean>
</beans>
