<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="byName">
	<bean id="autoPropertiesHandler"
		class="com.inthinc.pro.automation.AutoPropertiesHandler">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list><!-- this list must contain any entries from web/applicationContext-bean.xml -->
				<value>classpath:spring/automation.properties</value>
				<value>classpath:tiwipro.properties</value>
				<value>file:${CATALINA_HOME}/conf/tiwipro.properties</value>
			</list>
		</property>
	</bean>
	<bean id="automatedTest" class="com.inthinc.pro.automation.test.Test"
		scope="singleton">
		<property name="automationPropertiesBean" ref="automationPropertiesBean" />
	</bean>
	<bean id="automationPropertiesBean" class="com.inthinc.pro.automation.AutomationPropertiesBean"
		scope="singleton">
		<property name="silo" value="${automation.testsilo}" />
		<property name="browserName" value="${automation.browser}" />
		<property name="operatingSystem" value="${automation.operatingSystem}" />
		<property name="addTestSet" value="${automation.addTestSet}" />
		<property name="password" value="${users.password}" />
		<property name="mainAutomation">
			<bean class="org.springframework.util.CollectionUtils" factory-method="arrayToList">
				<constructor-arg type="java.lang.Object">
					<bean class="org.springframework.util.StringUtils"
						factory-method="tokenizeToStringArray">
						<constructor-arg type="java.lang.String" value="${users.mainAutomation}" />
						<constructor-arg type="java.lang.String" value="," />
					</bean>
				</constructor-arg>
			</bean>
		</property>
		<property name="editableAccount">
			<bean class="org.springframework.util.CollectionUtils" factory-method="arrayToList">
				<constructor-arg type="java.lang.Object">
					<bean class="org.springframework.util.StringUtils"
						factory-method="tokenizeToStringArray">
						<constructor-arg type="java.lang.String" value="${users.editableAccount}" />
						<constructor-arg type="java.lang.String" value="," />
					</bean>
				</constructor-arg>
			</bean>
		</property>
	</bean>
</beans>
