<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="byName">
	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list><!-- this list must contain any entries from web/applicationContext-bean.xml -->
				<value>classpath:spring/automation.properties</value>
				<value>classpath:tiwipro.properties</value>
        		<value>file:${CATALINA_HOME}/conf/tiwipro.properties</value>
			</list>
		</property>
	</bean>
	<bean id="automatedTest" class="com.inthinc.pro.automation.selenium.AutomatedTest"
		scope="singleton">
		<property name="automationPropertiesBean" ref="automationPropertiesBean"  />
	</bean>
	<bean id="automationPropertiesBean" class="com.inthinc.pro.automation.AutomationPropertiesBean"
		scope="singleton">
		<property name="serverProtocol" value="${automation.testserver.protocol}" />
		<property name="serverName" value="${automation.testserver.name}" />
		<property name="serverPort" value="${automation.testserver.port}" />
		<property name="appPath" value="${automation.testserver.appPath}" />
		<property name="defaultWebDriverName" value="${automation.browser.default}" />

		<property name="hasIE" value="${automation.browser.ie}" />
		<property name="hasFirefox" value="${automation.browser.firefox}" />
		<property name="hasChrome" value="${automation.browser.chrome}" />
	</bean>
</beans>
